= render "shared/ncs_code_select", { :f => f, :code => :psu_code, :label_text => "PSU", :default_value => @psu_code }

%p
  = f.label :provider_id, "Provider ID"
  %br
  = f.object.new_record? ? "TBD" : f.object.provider_id

%p
  = f.label :name_practice, "Practice Name"
  %br
  = f.text_field :name_practice

.nested_attributes
  = f.fields_for :address do |address_form|
    %p
      = address_form.label :address_one, "Address One"
      %br
      = address_form.text_field :address_one
    %p
      = address_form.label :address_two, "Address Two"
      %br
      = address_form.text_field :address_two
    %p
      = address_form.label :unit, "Unit"
      %br
      = address_form.text_field :unit
    %p
      = address_form.label :city, "City"
      %br
      = address_form.text_field :city
    = render "shared/ncs_state_select", { :f => address_form, :code => :state_code, :label_text => "State" }
    %p
      = address_form.label :zip, "Zip Code"
      %br
      = address_form.text_field :zip, :class => "zip"
      &mdash;
      = address_form.text_field :zip4, :class => "zip4"


= render "shared/ncs_code_select", { :f => f, :code => :provider_type_code, :label_text => "Provider Type", :other => :provider_type_other }

- if recruitment_strategy.pbs?

  .pbs_provider_roles
    - @pbsProviderRolesTemplate = generate_nested_attributes_template(f, :pbs_provider_roles, 'providers/pbs_provider_roles')
    %table{ :class => 'records pbs_provider_roles' }
      %tbody.nested_records_pbs_provider_roles
        = f.fields_for :pbs_provider_roles do |ppr|
          = render :partial => 'providers/pbs_provider_roles', :locals => { :f => ppr }
      %tfoot
        %tr.row
          %td{ :colspan => '2' }
            = link_to_add_fields "Add Provider Role", :pbs_provider_roles

= render "shared/ncs_code_select", { :f => f, :code => :practice_info_code, :label_text => "Practice Information" }

= render "shared/ncs_code_select", { :f => f, :code => :practice_patient_load_code, :label_text => "Patient Load" }

= render "shared/ncs_code_select", { :f => f, :code => :practice_size_code, :label_text => "Practice Size" }

= render "shared/ncs_code_select", { :f => f, :code => :public_practice_code, :label_text => "Public Practice?" }

= render "shared/ncs_code_select", { :f => f, :code => :provider_info_source_code, :label_text => "Source of Information", :other => :provider_info_source_other }

%p
  = f.label :provider_info_date, "Date of initial information"
  %br
  = f.text_field :provider_info_date, :class => 'datepicker'

%p
  = f.label :provider_info_update, "Date information updated"
  %br
  = f.text_field :provider_info_update, :class => 'datepicker'

= render "shared/ncs_code_select", { :f => f, :code => :list_subsampling_code, :label_text => "Will use subsampling list?" }

%p
  = f.label :proportion_weeks_sampled, "Nth week sampling performed"
  %span{ :class => "help_icon" }
  = render "providers/proportion_weeks_sampled_tooltip"
%p
  = f.text_field :proportion_weeks_sampled

%p
  = f.label :proportion_days_sampled, "Number of days"
  %span{ :class => "help_icon" }
  = render "providers/proportion_days_sampled_tooltip"
%p
  = f.text_field :proportion_days_sampled

%p
  = f.label :sampling_notes, "Sampling Notes"
  %span{ :class => "help_icon" }
  = render "providers/sampling_notes_tooltip"
%p
  = f.text_area :sampling_notes

.provider_logistics
  - @providerLogisticsTemplate = generate_nested_attributes_template(f, :provider_logistics, 'providers/provider_logistics')
  %table{ :class => 'records provider_logistics' }
    %tbody.nested_records_provider_logistics
      = f.fields_for :provider_logistics do |pl|
        = render :partial => 'providers/provider_logistics', :locals => { :f => pl }
    %tfoot
      %tr.row
        %td{ :colspan => '2' }
          = link_to_add_fields "Add Provider Logistic", :provider_logistics

.pre_screening_performeds
  - @preScreeningPerformedsTemplate = generate_nested_attributes_template(f, :pre_screening_performeds, 'providers/pre_screening_performeds')
  %table{ :class => 'records pre_screening_performeds' }
    %tbody.nested_records_pre_screening_performeds
      = f.fields_for :pre_screening_performeds do |psp|
        = render :partial => 'providers/pre_screening_performeds', :locals => { :f => psp }
    %tfoot
      %tr.row
        %td{ :colspan => '2' }
          = link_to_add_fields "Add Pre-Screening Performed", :pre_screening_performeds


%p
  = f.label :provider_comment, "Comments on Provider"
  %br
  = f.text_area :provider_comment



:javascript
  $(document).ready(function() {
    wire_up_select_other("#provider_provider_type_code","#provider_provider_type_other");
    wire_up_select_other("#provider_provider_ncs_role_code","#provider_provider_ncs_role_other");
    wire_up_select_other("#provider_provider_info_source_code","#provider_provider_info_source_other");

    providerLogisticsAttributesForm = new NCSCore.UI.ProviderLogisticAssociation({
      providerLogisticTemplate: '#{@providerLogisticsTemplate}' });
    pbsProviderRolesAttributesForm = new NCSCore.UI.PbsProviderRoleAssociation({
      pbsProviderRolesTemplate: '#{@pbsProviderRolesTemplate}' });
    preScreeningPerformedsAttributesForm = new NCSCore.UI.PreScreeningPerformedAssociation({
      preScreeningPerformedsTemplate: '#{@preScreeningPerformedsTemplate}' });
  });
