- page_title "Contact Log"

%h3
  = @provider

.page_section
  - if @provider.contact_links.empty?
    #no_records
      No Contact records were found.
  - else
    %table.records
      %tr
        %th
          Edit
        %th
          Who
        %th
          How
        %th
          When
        %th
          Outcome
      - @provider.contact_links.each do |link|
        - contact = link.contact
        - cls = cycle('even_record', 'odd_record')
        %tr{ :class => cls }
          %td
            = link_to "Edit", edit_contact_link_contact_path(link, contact), :class => "edit_link icon_link"
          %td
            = blank_safe(link.person)
          %td
            = contact.contact_type
          %td
            = contact.contact_date
          %td
            = DispositionMapper.disposition_text_for_contact(contact, link.event)
        - unless contact.contact_comment.blank?
          %tr{ :class => "comment_#{cls} #{cls}"  }
            %td{ :colspan => 5 }
              = blank_safe(contact.contact_comment, 'No comment')
    .links
      %p
        = link_to 'Assign Substitute Provider Due to Refusal to Participate', refused_provider_path(@provider), :class => 'refused_link icon_link'
      %p
        - if @provider.pbs_list
          = link_to "PBS List Record for #{@provider}", pbs_list_path(@provider.pbs_list),
            :class => "show_link icon_link"
      %p
        = link_to "Complete PBS List", pbs_lists_path, :class => "list_link icon_link"
