- title "Edit Provider"

.mdes_table_definition
  = render 'documentation/provider'

%h3
  = @provider.name_practice
  %span.normal
    = link_to 'Edit PBS List Record', edit_pbs_list_path(@provider.pbs_list), :class => "edit_link icon_link"

.page_section
  = form_for(@provider, :html => {:autocomplete => "off"}) do |f|
    = render "shared/custom_error_messages", :object => f.object

    = render "/providers/form_fields", :f => f

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'