- page_title "Edit Provider"

%h3
  = @provider.name_practice

.page_section
  .associated_mdes_record_actions
    %b
      Other MDES Records associated with Provider
    %ul
      - if @provider.pbs_list
        %li
          = link_to 'View Provider PBS List Record', pbs_list_path(@provider.pbs_list),
            :class => "show_link icon_link"
        %li
          = link_to 'Edit Provider PBS List Record', edit_pbs_list_path(@provider.pbs_list),
            :class => "edit_link icon_link"
      %li
        - if @provider.institution
          = link_to 'Edit Provider Institution Record', edit_institution_path(@provider.institution),
            { :class => "edit_link icon_link",
              :title => "If Provider is a Birthing Hospital or Other Institution" }

  = form_for(@provider, :html => {:autocomplete => "off"}) do |f|
    = render "shared/custom_error_messages", :object => f.object

    = render "/providers/form_fields", :f => f

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'
