- page_title "Providers"

.page_section.search
  = search_form_for(@q, :html => {:autocomplete => "off"}) do |f|
    %p
      = f.label :name_practice_cont, "Practice Name"
      = f.text_field :name_practice_cont
    %p
    = f.submit "Search"

.page_section
  - if @providers.empty?
    #no_records
      No Provider records were found.
  - else
    .records_header
      .page_entries_info
        = raw page_entries_info @providers
    %table.records
      %tr
        %th
          = sort_link @q, "name_practice", "Practice Name"
        %th{ :colspan => "2" }

      - @providers.each do |provider|
        %tr{ :class => cycle('even_record', 'odd_record') }
          - name = blank_safe(provider.name_practice)
          - pbs = provider.pbs_list
          %td{ :title => "#{name} - #{provider.address.to_s}" }
            - cls = "icon_link"
            - cls += " hospital_link" if pbs.try(:hospital?)
            = link_to name, provider_path(provider), { :class => cls }
          %td
            = link_to 'Edit', edit_provider_path(provider),
              :class => "edit_link icon_link"
          %td
            = link_to 'Edit Contact Information', edit_contact_information_provider_path(provider),
              :class => "edit_link icon_link"

  .links
    = link_to 'Add New Provider record', new_provider_path, :class => "add_link icon_link"

  = will_paginate @providers