- title "New Provider Staff"

.mdes_table_definition
  = render 'documentation/provider'

%h3
  = @provider.name_practice

.page_section
  = form_for(@provider, :url => create_staff_provider_path(@provider), :html => {:autocomplete => "off", :method => 'post'}) do |f|
    = render "shared/custom_error_messages", :object => f.object

    = render "/providers/staff_form_fields", :f => f

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'