- page_title "New Provider Staff"

%h3
  = @provider

.page_section
  = form_for(@provider, :url => create_staff_provider_path(@provider),
             :html => {:id => "modal_edit_form", :autocomplete => "off", :method => 'post'}) do |f|
    = render "shared/custom_error_messages", :object => f.object

    = render "/providers/staff_form_fields", :f => f

    - unless request.xhr?
      %p
        = f.submit "Submit", :disable_with => 'Submitting...'