- page_title "Staff List"

%h3
  = @provider

.page_section
  - if @provider.staff.blank?
    #no_records
      This provider has no staff members.
  - else
    %table.records
      %tr
        %th
          Primary Contact
        %th
          Staff Member
        %th
          Phone
        %th
          Email
        %th{ :colspan => "2" }

      - primary_contact = @provider.primary_contact
      - @provider.staff.each do |staff_member|
        %tr{ :class => cycle('even_record', 'odd_record') }
          %td.primary_contact
            - if staff_member == primary_contact
              %span{ :class => "star_link icon_link" }
                &nbsp;
          %td
            = blank_safe(staff_member.full_name)
          %td
            = phone_number_formatter(staff_member.telephones.first.to_s)
          %td
            = staff_member.emails.first.to_s
          %td
            = link_to "Edit Staff Contact Info", edit_staff_provider_path(@provider, :person_id => staff_member.id),
                :class => "edit_link icon_link"
          %td
            = link_to "Edit Person Record", edit_person_path(staff_member),
                :class => "edit_link icon_link"

  .links
    = link_to 'New Staff Member', new_staff_provider_path(@provider, :event_id => @event), :class => "add_link icon_link"
