%a{:href => edit_address_path(a)}
  = a.address_one
  %br
  - unless a.address_two.blank?
    = a.address_two
    %br
  - unless a.unit.blank?
    = a.unit
    %br
  = a.city + "," unless a.city.blank?
  = a.state
  %br
  = a.zip_code
