.page_section
  .telephones
    %b
      Telephones
    %br
    - @person.telephones.each do |t|
      = "#{t.phone_type}:"
      = link_to 'Edit', edit_person_telephone_path(@person, t), :class => "edit_link icon_link"
      .contact_info
        = t.phone_nbr
      %br
    = link_to 'Add New Telephone', new_person_telephone_path(@person), :class => "add_link icon_link"
  .emails
    %b
      Emails
    %br
    - @person.emails.each do |e|
      = "#{e.email_type}:"
      = link_to 'Edit', edit_person_email_path(@person, e), :class => "edit_link icon_link"
      .contact_info
        = e.email
      %br
    = link_to 'Add New Email', new_person_email_path(@person), :class => "add_link icon_link"
  .addresses
    %b
      Addresses
    %br
    - @person.addresses.each do |a|
      = "#{a.address_type}:"
      = link_to 'Edit', edit_address_path(a), :class => "edit_link icon_link"
      = link_to 'Dwelling Unit', edit_dwelling_unit_path(a.dwelling_unit), :class => "edit_link icon_link" if a.dwelling_unit
      .contact_info
        = raw(a.to_s("<br />"))
      %br
    = link_to 'Add New Address', new_address_path(:person_id => @person.id), :class => "add_link icon_link"