.page_section
  .telephones
    %b
      Telephones
    %br
    - @person.telephones.each do |t|
      .contact_info
        %span.rank
          = t.phone_rank
        %span.type
          = t.phone_type
        %span.value
          = phone_number_formatter(t.phone_nbr)
        = link_to 'Edit', edit_person_telephone_path(@person, t), :class => "edit_link icon_link"
      %br
    = link_to 'Add New Telephone', new_person_telephone_path(@person), :class => "add_link icon_link"
  .emails
    %b
      Emails
    %br
    - @person.emails.each do |e|
      .contact_info
        %span.rank
          = e.email_rank
        %span.type
          = e.email_type
        %span.value
          = e.email
        = link_to 'Edit', edit_person_email_path(@person, e), :class => "edit_link icon_link"
      %br
    = link_to 'Add New Email', new_person_email_path(@person), :class => "add_link icon_link"
  .addresses
    %b
      Addresses
    %br
    - @person.addresses.each do |a|
      .contact_info
        %span.rank
          = a.address_rank
        %span.type
          = a.address_type
        %span.value
          = raw(a.to_s("<br />"))
        = link_to 'Edit', edit_address_path(a), :class => "edit_link icon_link"
        = link_to 'Dwelling Unit', edit_dwelling_unit_path(a.dwelling_unit), :class => "edit_link icon_link" if a.dwelling_unit
      %br
    = link_to 'Add New Address', new_address_path(:person_id => @person.id), :class => "add_link icon_link"
