.page_section
  %a{ :class => "toggle_link", :id => "toggle_contacts" }
    Show All
  .telephones
    %dt
      Telephone
      = link_to 'Add', new_person_telephone_path(@person), :class => "add_link icon_link"
    - (cme = sort_cme(group_cme(@person.telephones))).each_with_index do |type,i|
      .contact_info
        %dd
          #address_title
            = type[1].first.phone_type
        - type[1].each_with_index do |t,ii| 
          %dd{:class => (ii==0?nil:"toggle_contacts")}
            = t.phone_rank
            = link_to blank_safe(phone_number_formatter(t.phone_nbr)), edit_person_telephone_path(@person, t)
      - if i!=cme.size-1
        %br



  .emails
    %dt
      Email
      = link_to 'Add', new_person_email_path(@person), :class => "add_link icon_link"
    - (cme = sort_cme(group_cme(@person.emails))).each_with_index do |type,i|
      .contact_info
        %dd
          #address_title
            = type[1].first.email_type
        - type[1].each_with_index do |e,ii| 
          %dd{:class => (ii==0?nil:"toggle_contacts")}
            = e.email_rank
            = link_to blank_safe(e.email), edit_person_email_path(@person, e)
      - if i!=cme.size-1
        %br



  .addresses
    %dt
      Address
      = link_to 'Add', new_address_path(:person_id => @person.id), :class => "add_link icon_link"    
    - (cme = sort_cme(group_cme(@person.addresses))).each_with_index do |type,i|
      .contact_info
        %dd
          #address_title
            = type[1].first.address_type
        - type[1].each_with_index do |a,ii| 
          %dd{:class => (ii==0?nil:"toggle_contacts")}
            = render :partial => '/people/address', :locals => { :a => a }
      - if i!=cme.size-1
        %br
