.page_section
  .telephones
    %dt
      Telephone
      = link_to 'Add', new_person_telephone_path(@person), :class => "add_link icon_link"
    - highest_ranking_contact_mode_entry(unique_contact_mode_entries(@person.telephones)).each do |t|
      .contact_info
        %dd
          = t.phone_type
          = link_to phone_number_formatter(t.phone_nbr), edit_person_telephone_path(@person, t)
  .emails
    %dt
      Email
      = link_to 'Add', new_person_email_path(@person), :class => "add_link icon_link"
    - highest_ranking_contact_mode_entry(unique_contact_mode_entries(@person.emails)).each do |e|
      .contact_info
        %dd
          = e.email_type
          = link_to e.email, edit_person_email_path(@person, e)
  .addresses
    %dt
      Address
      = link_to 'Add', new_address_path(:person_id => @person.id), :class => "add_link icon_link"
      %a{ :class => "toggle_link", :id => "swap_1" }
        More ...
      %a{ :class => "toggle_link", :id => "swap_2" }
        Less ...
    
    .swap_1
      - highest_ranking_contact_mode_entry(unique_contact_mode_entries(@person.addresses)).each do |a|
        .contact_info
          %dd
            #address_title
              = a.address_type
            = render :partial => '/people/address', :locals => { :a => a }

    .swap_2
      - sort_contact_mode_entries(@person.addresses).each_value do |type|      
        .contact_info
          %dd
            #address_title
              = type.first.address_type
            - type.each do |a|
              #address_title 
                = a.address_rank
              = render :partial => '/people/address', :locals => { :a => a }
