.page_section
  .telephones
    %b
      Telephone
      = link_to 'Add', new_person_telephone_path(@person), :class => "add_link icon_link"
    %br
    - Telephone.unique_telephones(@person.telephones).each do |t|
      .contact_info
        %span.type
          = t.phone_type
        %span.value
          = link_to phone_number_formatter(t.phone_nbr), edit_person_telephone_path(@person, t)
  .emails
    %b
      Email
      = link_to 'Add', new_person_email_path(@person), :class => "add_link icon_link"
    %br
    - Email.unique_email_addresses(@person.emails).each do |e|
      .contact_info
        %span.type
          = e.email_type
        %span.value
          = link_to e.email, edit_person_email_path(@person, e)
  .addresses
    %b
      Address
      = link_to 'Add', new_address_path(:person_id => @person.id), :class => "add_link icon_link"
    %br
    - Address.unique_addresses(@person.addresses).each do |a|
      .contact_info
        %span.type
          #address_title
            = a.address_type
        .address
          = link_to raw(a.to_s("<br />")), edit_address_path(a)
      %br
