.page_section
  .participant_contacts
    - if @events_and_contacts.blank?
      = "No events or contacts exist for #{blank_safe(@person.to_s)}."
    - else
      - sort_by_started_at(@events_and_contacts).each do |row|
        -if row.is_a?(ContactLink)
          - contact = row.contact
          .event
            .header
              %span.type
                Contact without Event
            .contact_link
              %table.records
                %tr
                  %th
                    Type
                  %th
                    Date
                  %th
                    Start
                  %th
                    End
                  %th
                    Disposition
                  %th
                    Relationship
                  %th
                    Continue
                = render "people/contact_row", :contact => contact, :event => nil, :contact_link => row
        - else
          - event = row
          - event_name = event.to_s
          .event
            .header
              .event_actions
                - unless event.closed?
                  - unless event.contact_links.blank?
                    = link_to "Close Event", edit_event_path(event, :close => 'true'),
                      :class => "close_link icon_link",
                      :confirm => "Are you certain that this event should be closed?"
                  = link_to "Mark Out of Window", mark_event_out_of_window_participant_path(@participant),
                    :class => "out_of_window_link icon_link",
                    :confirm => "Are you certain that this event is out of window?"
                %span.new_contact_for_previous_event
                  = link_to "New Contact", new_person_contact_path(@person, :event_id => event.id),
                    :class => "add_link icon_link", :title => "New Contact for #{event_name}"
              %span.type
                = link_to event_name, edit_event_path(event), :class => "edit_link icon_link"
              %span.dates
                = blank_safe(event.event_start_date)
                = " - "
                = blank_safe(event.event_end_date)
              %span.relationship
                - if @person != contact_link.person
                  = @person.relationship_to_person_via_participant(contact_link.person)
              %div
                Window:
                = render :partial => "events/event_window", :locals => {:event => event}
              #span.disposition
                - if event.event_disposition
                  - disp = DispositionMapper.disposition_text_for_event(event)
                  = disp.blank? ? "#{event.event_disposition} - #{event.event_disposition_category}" : disp
            .contact_link
              - if event.contact_links.blank?
                .no_event_contact_records
                  No contacts exist for this event.
              - else
                %table.records
                  %tr
                    %th
                      Type
                    %th
                      Date
                    %th
                      Start
                    %th
                      End
                    %th
                      Disposition
                    %th
                      Relationship
                    %th
                      Continue
                  - event.contact_links.map(&:contact).uniq.sort_by { |c| c.contact_date.to_s }.each do |contact|
                    - cl = contact.contact_links.where(:event_id => event.id).first
                    = render "people/contact_row", :contact => contact, :event => event, :contact_link => cl