.page_section
  - @person.participants.each do |participant|
    .participant_events
      - if participant.events.blank?
        %p
          = "No events exists for #{blank_safe(participant.person.to_s)} at this time."
      - else
        %b
          Event History
        - participant.events.sort_by{ |e| e.event_start_date }.each do |event|
          .event
            .header
              %span.type
                = link_to event.event_type.to_s, edit_event_path(event), :class => "edit_link icon_link"
              %span.dates
                = blank_safe(event.event_start_date)
                = " - "
                = blank_safe(event.event_end_date)
              #span.disposition
                - if event.event_disposition
                  - disp =  DispositionMapper.disposition_text_for_event(event.event_disposition_category, event.event_disposition)
                  = disp.blank? ? "#{event.event_disposition} - #{event.event_disposition_category}" : disp
            .contact_link
              - if event.contact_links.blank?
                .no_records
                  No contacts exist for this event.
              - else
                %table.records
                  %tr
                    %th
                      Type
                    %th
                      Date
                    %th
                      Start
                    %th
                      End
                    %th
                      Disposition
                    %th.hide
                      Continue
                  - event.contact_links.each do |cl|
                    %tr{ :class => cycle('even_record', 'odd_record') }
                      %td
                        = cl.contact.contact_type
                      %td
                        = link_to cl.contact.contact_date, edit_contact_link_path(cl), :class => "show_link icon_link"
                      %td
                        = cl.contact.contact_start_time
                      %td
                        = cl.contact.contact_end_time
                      %td
                        - disp =  DispositionMapper.disposition_text_for_event(event.event_disposition_category, cl.contact.contact_disposition)
                        = disp.blank? ? cl.contact.contact_disposition : disp
                      %td.hide
                        - if cl.contact.contact_date_date == Date.today && cl.event.event_end_date.blank?
                          = link_to "Continue #{cl.event.event_type}", new_person_contact_path(@person, :event_type_id => cl.event.event_type.id), :class => "add_link icon_link"
