- is_edit = action_name == "edit"
- if is_edit
  %h3
    = @person.full_name

.page_section
  - if @person.participant?
    #edit_participant_link
      = link_to "Edit Participant Record", edit_participant_path(@person.participant), :class => "edit_link icon_link"
  - else
    - if permit?(Role::SYSTEM_ADMINISTRATOR) && is_edit
      #create_participant_link
        = link_to "Create Participant Record", new_participant_path(:person_id => @person.id),
          :class => "edit_link icon_link",
          :confirm => "Are you certain that #{@person} should be made a Participant?"

  - form_objs = @provider.nil? ? @person : [@provider, @person]
  = form_for(form_objs, :html => {:autocomplete => "off"}) do |f|
    = render "shared/full_error_messages", :object => f.object

    = render "shared/ncs_code_select", { :f => f, :code => :psu_code, :label_text => "PSU", :default_value => @psu_code }

    - if @participant
      .participant_relationship
      = label_tag "name","Select Relationship to #{@participant.person}"
      %br
      = select_tag("relationship_code",options_for_select( NcsCode.ncs_code_lookup(:relationship_code), :selected => @relationship_code.to_s), { :prompt => "-- Select Relationship to Participant -- " })
      = hidden_field_tag :participant_id, @participant.id
    - if @provider.nil?

      = render "shared/ncs_code_select", { :f => f, :code => :prefix_code, :label_text => "Prefix" }

      %p
        = f.label :first_name, "First Name"
        %br
        = f.text_field :first_name

      %p
        = f.label :middle_name, "Middle Name"
        %br
        = f.text_field :middle_name

      %p
        = f.label :last_name, "Last Name"
        %br
        = f.text_field :last_name

      %p
        = f.label :maiden_name, "Maiden Name"
        %br
        = f.text_field :maiden_name

      = render "shared/ncs_code_select", { :f => f, :code => :suffix_code, :label_text => "Suffix" }

      %p
        = f.label :title, "Title"
        %br
        = f.text_field :title

      = render "shared/ncs_code_select", { :f => f, :code => :sex_code, :label_text => "Sex" }

      %p
        = f.label :person_dob, "Date Of Birth"
        %br
        = f.text_field :person_dob, :class => "datepicker"
        = f.label :person_dob_modifier_refused, "Refused"
        = f.radio_button :person_dob_modifier, :refused
        = f.label :person_dob_modifier_unknown, "Unknown"
        = f.radio_button :person_dob_modifier, :unknown

      %p
        %a{ :href => "javascript:void(0);", :class => "toggle_enable_link icon_link", :id => "enable_person_dob_derivatives" }
          Enable Age and Age Range fields
        %a{ :href => "javascript:void(0);", :class => "toggle_disable_link icon_link", :id => "disable_person_dob_derivatives" }
          Disable Age and Age Range fields

      %p
        = f.label :age, "Age #{"(#{@person.computed_age} years from DOB)" if @person.computed_age}"
        %br
        = f.text_field :age, :class => "person_dob_derivatives", :disabled =>true

      = render "shared/ncs_code_select", { :f => f, :code => :age_range_code, :label_text => "Age Range" , :html_attrs => {:class =>"person_dob_derivatives", :disabled => true}}

      = render "shared/ncs_code_select", { :f => f, :code => :deceased_code, :label_text => "Deceased" }

      = render "shared/ncs_code_select", { :f => f, :code => :ethnic_group_code, :label_text => "Ethnic Group" }

      = render "shared/ncs_code_select", { :f => f, :code => :language_code, :label_text => "Language", :other => :language_other }

      = render "shared/ncs_code_select", { :f => f, :code => :marital_status_code, :label_text => "Marital Status", :other => :marital_status_other }

      = render "shared/ncs_code_select", { :f => f, :code => :preferred_contact_method_code, :label_text => "Preferred Contact Method", :other => :preferred_contact_method_other }

      = render "shared/ncs_code_select", { :f => f, :code => :planned_move_code, :label_text => "Planned Move" }

      = render "shared/ncs_code_select", { :f => f, :code => :move_info_code, :label_text => "Move Info" }

      = render "shared/ncs_code_select", { :f => f, :code => :when_move_code, :label_text => "When Move" }

      %p
        = f.label :date_move_date, "Moving Date"
        %br
        = f.text_field :date_move_date, :class => "datepicker"
        = f.label :date_move_modifier_refused, "Refused"
        = f.radio_button :date_move_modifier, :refused
        = f.label :date_move_modifier_unknown, "Unknown"
        = f.radio_button :date_move_modifier, :unknown
        = f.label :date_move_modifier_not_applicable, "Not Applicable"
        = f.radio_button :date_move_modifier, :not_applicable

      = render "shared/ncs_code_select", { :f => f, :code => :p_tracing_code, :label_text => "Missing Tracing Data" }

      = render "shared/ncs_code_select", { :f => f, :code => :p_info_source_code, :label_text => "Info Source", :other => :p_info_source_other }

      %p
        = f.label :p_info_date, "Info Date"
        %br
        = f.text_field :p_info_date, :class => "datepicker"

      %p
        = f.label :p_info_update, "Info Update"
        %br
        = f.text_field :p_info_update, :class => "datepicker"

      %p
        = f.label :person_comment, "Comment"
        %br
        = f.text_area :person_comment

    - if @provider

      %p
      = f.label :first_name, "First Name"
      %br
      = f.text_field :first_name

      %p
        = f.label :middle_name, "Middle Name"
        %br
        = f.text_field :middle_name

      %p
        = f.label :last_name, "Last Name"
        %br
        = f.text_field :last_name

      = render "shared/ncs_code_select", { :f => f, :code => :sex_code, :label_text => "Sex" , :default_value => '2' }

      %p
      = f.label :person_dob_date, "Date Of Birth"
      %br
      = f.text_field :person_dob_date, :class => "datepicker"

      .provider_association
        %b
          Fields for provider association
        %br

        = f.fields_for :person_provider_links do |builder|
          - next if builder.object.provider != @provider
          = builder.hidden_field :provider_id
          = builder.hidden_field :person_id
          = builder.hidden_field :is_active_code

          = render "shared/ncs_code_select",
            { :f => builder, :code => :pre_screening_status_code, :label_text => "Pre-Screening Status", :html_attrs => { :class => "required pre_screening_status_selector" } }

          = render "shared/ncs_code_select",
            { :f => builder, :code => :sampled_person_code, :label_text => "Sampled Person?", :html_attrs => { :class => "required sampled_person_code_selector" } }

          %p
          = builder.label :date_first_visit, "Date of First Visit"
          %br
          = builder.text_field :date_first_visit, :class => "datepicker"

          = render "shared/ncs_code_select",
            { :f => builder, :code => :provider_intro_outcome_code, :label_text => "Outcome of Provider Introduction", :other => :provider_intro_outcome_other }

        - if is_edit
          - cls = @person.sampled_ineligible? ? "known_sampled_persons_ineligiblity" : "sampled_persons_ineligibility"
        - else
          - cls = "sampled_persons_ineligibility"
        %div{ :class => cls }
          %b
            Sampled Persons Ineligibility
          %br

          = f.fields_for :sampled_persons_ineligibilities do |builder|
            = builder.hidden_field :provider_id
            = builder.hidden_field :person_id

            = render "shared/ncs_code_select",
              { :f => builder, :code => :age_eligible_code, :label_text => "Is sampled woman age eligible?" }

            = render "shared/ncs_code_select",
              { :f => builder, :code => :county_of_residence_code, :label_text => "Does sampled woman reside in sample PSU/county?" }

            = render "shared/ncs_code_select",
              { :f => builder, :code => :pregnancy_eligible_code, :label_text => "Is sampled woman pregnant?" }

            = render "shared/ncs_code_select",
              { :f => builder, :code => :first_prenatal_visit_code, :label_text => "Is this the first prenatal visit for the sampled woman?" }

            = render "shared/ncs_code_select",
              { :f => builder, :code => :ineligible_by_code, :label_text => "Who determined sampled woman is ineligible?" }

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'

.links
  = link_to "All People", people_path, :class => "list_link icon_link"

:javascript
  // For the 'other' field
  // Check on pageload
  $(document).ready(function() {
    wire_up_select_other("#person_language_code",
                         "#person_language_other");
    wire_up_select_other("#person_marital_status_code",
                         "#person_marital_status_other");
    wire_up_select_other("#person_preferred_contact_method_code",
                         "#person_preferred_contact_method_other");
    wire_up_select_other("#person_p_info_source_code",
                         "#person_p_info_source_other");
    wire_up_select_other("#person_person_provider_links_attributes_0_provider_intro_outcome_code",
                         "#person_person_provider_links_attributes_0_provider_intro_outcome_other");
  });
