.page_section
  .psc_registration
    %b
      PSC
    %br
    - if @participant.can_register_with_psc?(psc)
      Participant needs to be registered in PSC
    - else
      Participant is registered in PSC

  - if @participant.eligible_for_high_intensity_invitation? || @participant.high_intensity?
    .high_intensity_invitation
      = form_for(@participant, :url => update_arm_participant_path(@participant, :redirect_to => "#{request.path}?#{request.query_string}")) do |f|
        = render "shared/full_error_messages", :object => f.object
        = f.hidden_field :high_intensity
        %p
          - if @participant.high_intensity?
            = f.submit switch_arm_message(@participant)
          - else
            = f.submit switch_arm_message(@participant), :confirm => "Please confirm that participant is eligible for High Intensity - (i.e. in TSU)"

  = render "/participants/schedule", :participant => @participant if psc.is_registered?(@participant)

  = render "/people/schedule_or_perform_event", :participant => @participant, :person => @person