.page_section
  %b
    Contacts
  .contact_link
    - if @person.contact_links.blank?
      No contact records exist at this time.
    - else
      %table.records
        %tr
          %th
            Type
          %th
            Date
          %th
            Start
          %th
            End
          %th
            Disposition
            %span{ :class => "help_icon" }
            = render "documentation/disposition_code_list"
          %th
            Continue Event
          %th
            Event Disposition
            %span{ :class => "help_icon" }
            = render "documentation/disposition_code_list"
        - @person.contact_links.each do |cl|
          %tr{ :class => cycle('even_record', 'odd_record') }
            %td
              = cl.contact.contact_type
            %td
              = link_to cl.contact.contact_date, edit_contact_link_path(cl), :class => "show_link icon_link"
            %td
              = cl.contact.contact_start_time
            %td
              = cl.contact.contact_end_time
            %td
              = cl.contact.contact_disposition
            %td
              = link_to "Continue #{cl.event.event_type}", new_person_contact_path(@person, :event_type_id => cl.event.event_type.id), :class => "add_link icon_link"
            %td
              = "#{cl.event.event_disposition} - #{cl.event.event_disposition_category}"

.page_section
  %b
    Surveys Taken
  - if @person.response_sets.blank?
    %div
      No survey records exist at this time.
  - else
    - @person.response_sets.each do |rs|
      .survey
        = rs.created_at.to_s(:db)
        = link_to rs.survey.title, edit_my_survey_path(:survey_code => rs.survey.access_code, :response_set_code => rs.access_code), :class => "show_link icon_link"
