%h3
  = @person
- @person.upcoming_events.each do |event|
  %h3 
    = "Instruments for #{event}"
  - InstrumentEventMap.instruments_for(event).each do |ins|
    = link_to "#{ins}", start_instrument_person_path(@person, :survey_access_code => Survey.to_normalized_string(ins))