- page_title "People"

.page_section.search
  = search_form_for(@q, :html => {:autocomplete => "off"}) do |f|
    = f.label :last_name_start
    = f.text_field :last_name_start
    %br
    = f.label :first_name_start
    = f.text_field :first_name_start
    %br
    = f.label :person_id_cont, "Person Identifier"
    = f.text_field :person_id_cont
    %br
    = f.submit "Search"

.page_section
  - if @people.empty?
    #no_records
      No people were found.
  - else
    .records_header
      .page_entries_info
        = raw page_entries_info @people
    %table.records
      %tr
        %th
          PSU
        %th
          = sort_link @q, "first_name"
        %th
          = sort_link @q, "last_name"
        %th
          = sort_link @q, "person_id", "Person Identifier"
        %th{ :colspan => "3" }

      - @people.each do |person|
        %tr{ :class => cycle('even_record', 'odd_record') }
          %td
            = person.psu
          %td
            = blank_safe(person.first_name)
          %td
            = blank_safe(person.last_name)
          %td
            = person.person_id
          %td
            = link_to 'View', person_path(person), :class => "show_link icon_link"
          %td
            = link_to 'Edit', edit_person_path(person), :class => "edit_link icon_link"
          %td
            = link_to 'Versions', versions_person_path(person), :class => "version_link icon_link"

  .links
    = link_to 'New Person', new_person_path, :class => "add_link icon_link"

  = will_paginate @people
