- page_title "Responses for Person"

%h3
  = @person

%p
  Enter the data export identifier for the specific response given to an instrument question.
  %br
  The 'data export identifier' is the table name and the variable name from the MDES separated
  by a period '.'
  %br
  (e.g. PREG_SCREEN_HI_2.R_FNAME)

= form_for(@person, :url => responses_for_person_path(@person),
                    :html => {:autocomplete => "off"}) do |f|

  = text_field_tag :data_export_identifier, params[:data_export_identifier]

  = f.submit "Submit"

- if @responses
  - if @responses.empty?
    %p
      No responses found.
  - else
    %p
      %b
        = @responses.first.question.text
    %ul
      - @responses.each do |r|
        %li
          = "#{r.created_at.to_s(:db)} #{r} "
