- page_title "Person"

%h2
  = "#{@person} :: #{@person.public_id}"
- if @person.participant
  %p
    = link_to "View Participant Record", participant_path(@person.participant), :class => "show_link icon_link"

#tabs
  %ul
    %li
      %a{ :href => "#events_and_contacts_tab"}
        Event History
    %li
      %a{ :href => "#survey_responses_tab"}
        Survey Responses
    %li
      %a{ :href => "#contact_information_tab"}
        Contact Information
    %li
      %a{ :href => "#relationships_tab"}
        Relationships

  #events_and_contacts_tab
    = render 'people/events_and_contacts'

  #survey_responses_tab
    = render 'people/survey_responses'

  #contact_information_tab
    = render 'people/contact_info'

  #relationships_tab
    = render 'people/relationships'
