- title "Person Record"

.mdes_table_definition
  = render 'documentation/person'

%h3
  = "#{@person} :: #{@person.public_id}"

- if @participant.nil?

  = render 'relationships'

- else
  %p.hide
    = link_to "View Participant Record for #{@person}", participant_path(@participant), :class => "show_link icon_link"

  = render 'participant_state'

  = render 'participant_details'

  = render 'participant_psc'

  = render 'participant_state_transitions'

  = render 'participants/relationships', :participant => @participant

= render 'participant_contact_info'

= render 'participant_contacts_and_responses'
