.page_section
  = form_for(@household_unit) do |f| 
    = render "shared/custom_error_messages", :object => f.object

    = render "shared/ncs_code_select", { :f => f, :code => :psu_code, :label_text => "PSU", :default_value => @psu_code }

    = render "shared/ncs_code_select", { :f => f, :code => :hh_status_code, :label_text => "Status" }
    
    = render "shared/ncs_code_select", { :f => f, :code => :hh_eligibility_code, :label_text => "Eligibility" }
    
    = render "shared/ncs_code_select", { :f => f, :code => :hh_structure_code, :label_text => "Structure", :other => :hh_structure_other }

    %p
      = f.label :number_of_age_eligible_women, "Number Of Age Eligible Women"
      %br
      = f.text_field :number_of_age_eligible_women

    %p
      = f.label :number_of_pregnant_women, "Number Of Pregnant Women"
      %br
      = f.text_field :number_of_pregnant_women

    %p
      = f.label :number_of_pregnant_minors, "Number Of Pregnant Minors"
      %br
      = f.text_field :number_of_pregnant_minors

    %p
      = f.label :number_of_pregnant_adults, "Number Of Pregnant Adults"
      %br
      = f.text_field :number_of_pregnant_adults

    %p
      = f.label :number_of_pregnant_over49, "Number Of Pregnant Over 49"
      %br
      = f.text_field :number_of_pregnant_over49

    %p
      = f.label :hh_comment, "Comment"
      %br
      = f.text_area :hh_comment

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'

.links
  = link_to "All Household Units", household_units_path, :class => "list_link icon_link"
  
:javascript
  // For the 'other'  field
  // Check on pageload
  $(document).ready(function(){
    wire_up_select_other("#household_unit_hh_structure_code","#household_unit_hh_structure_other");
  });