.page_section
  - if SampleReceiptShippingCenter.all.blank? or SpecimenProcessingShippingCenter.all.blank?
    = "Please configure your shipping center's address and ID before continuing."
    - if SampleReceiptShippingCenter.all.blank?
      %p
        = link_to 'Set up Sample Receipt Shipping Center', new_sample_receipt_shipping_center_path, :class => "edit_link icon_link"
    - if SpecimenProcessingShippingCenter.all.blank?
      %p
        = link_to 'Set up Specimen Processing Shipping Center', new_specimen_processing_shipping_center_path, :class => "edit_link icon_link"
  - else
    %div{:id =>"process_tabs", :class => "processing"}
      %table.records
        %tr
          %th
            RECEIPT
          %th
            STORE
          %th
            SHIP 
          %th
            CONFIRM
        %tr.operations
          %td
            %div{:id => "receiving"}
              %ul
                - @specimens.each do |sp|
                  %li
                    %a{ :href => new_specimen_receipt_path(:specimen_id => sp.specimen_id), :class => "specimen_sample_receive", :id => sp.specimen_id}
                      = sp.specimen_id  
                - @samples.each do |s|
                  %li
                    %a{ :href => new_sample_receipt_store_path(:sample_id => s.sample_id), :class => "specimen_sample_receive", :id => s.sample_id }
                      = s.sample_id
          %td
            %div{:id => "storing"}
              %ul
                - @specimen_receipts_hash.each do |k, v|
                  %li
                    %a{ :href => new_specimen_storage_path(:container_id => k.id), :class => "specimen_sample_store", :id => k.id}
                      = "Storage container ID:"
                      = k.storage_container_id
                      - v.each do |val|
                        %p{:class => "paragraph_shift"}
                          = val.specimen_id
          %td
            %div{:id => "shipping"}
              %ul
                %div{:id => "ship_samples"}
                  = form_tag verify_samples_path do
                    - if not @sample_receipt_stores.blank?
                      %b Samples:
                      = submit_tag "Ship", :class => "ship_samples_btn", :id => "ship_samples_btn", :disabled => true
                    - @sample_receipt_stores.each do |srs|
                      %li
                        %input{:type=>"checkbox", :class => "sample_ship_checkbox", :id => srs.sample_id, :name=> "sample_id[]", :value => srs.sample_id, :checked=>false}
                        = srs.sample_id
                %div{:id => "ship_specimens"}              
                  = form_tag new_specimen_shipping_path, :method => "GET" do
                    - if not @not_shipped_spec_storages.blank?
                      %b Specimens:
                      = submit_tag "Ship", :class => "ship_specimens_btn", :id => "ship_specimens_btn", :disabled => true
                    - @not_shipped_spec_storages.each do |ss|
                      %li
                        %input{:type=>"checkbox", :class => "specimen_ship_checkbox", :id => ss.id, :name=> "specimen_storage[]", :value => ss.id, :checked=>false}
                        = "Storage container ID:"
                        = ss.specimen_storage_container.storage_container_id
                        - ss.specimen_storage_container.specimen_receipts.each do |val|
                          %p{:class => "paragraph_shift"}
                            = val.specimen.specimen_id
          %td
            %div{:id => "confirm"}
              - if not @sample_shippings_not_received.blank?
                %div{:id => 'shipped_not_confirmed_table', :class => 'shipped_not_confirmed_table'}
                  %b Samples:
                  - @sample_shippings_not_received.each do |track_number, sample_shippings|
                    %p{:class => "paragraph_shift"}
                      = link_to track_number, {:controller => "sample_receipt_confirmations", :action => "index", :tracking_number => track_number}, :class => "confirm_link", :id => "confirm_link"
              - if not @specimen_shippings_not_received.blank?
                %div{:id => 'shipped_not_confirmed_specs_table', :class => 'shipped_not_confirmed_specs_table'}
                  %b Specimens:
                  - @specimen_shippings_not_received.each do |specimen_shipping|
                    %p{:class => "paragraph_shift"}
                      = link_to specimen_shipping.shipment_tracking_number, {:controller => "specimen_receipt_confirmations", :action => "index", :tracking_number => specimen_shipping.shipment_tracking_number}, :class => "confirm_link", :id => "confirm_link"
    %div{:id => "displaying", :class => "display records"}
