#contact_history
  %span{ :id => "contact_history_header" }
    Contact History

- if @provider.contact_links.empty?
  #contact_log
    No contacts exist for this provider.
- else
  #contact_log
    %table{ :id => 'staff_contact_line_items', :class => "records" }
      %tr
        %th{:id => "staff_table_header_left_end"}
          Date
        %th{:id => "staff_table_header_middle"}
          Staff Member
        %th{:id => "staff_table_header_middle"}
          Method of Contact
        %th{:id => "staff_table_header_middle"}
          Status
        %th{:id => "staff_table_header_right_end"}
          Delete
      - @provider.contact_links.each do |link|
        - contact = link.contact
        - cls = cycle('even_record', 'odd_record')
        %tr{ :class => cls }
          %td
            = link_to "#{contact.contact_date}", edit_contact_link_contact_path(link, contact),
              :class => "edit_link icon_link", :title => "Edit Contact Record"
          %td
            = link.person.full_name
          %td
            = contact.contact_type
          %td
            - event_type = @provider.provider_recruitment_event.event_type
            - disp = contact.contact_disposition
            = DispositionMapper.disposition_text_for_event(event_type, disp)
          %td
            - if permit?(Role::SYSTEM_ADMINISTRATOR, Role::USER_ADMINISTRATOR, Role::STAFF_SUPERVISOR)
              = link_to 'Delete', contact_path(contact, :pbs_list_id => @pbs_list.id), :confirm => 'Are you sure you want to delete this contact?',
                :method => :delete, :class => "delete_link icon_link"
        - unless contact.contact_comment.blank?
          %tr{ :class => cls }
            %td{ :colspan => 4 }
              Comment:
              = contact.contact_comment
            %td{ :colspan => 1 }
