- title "PBS Lists"

.mdes_table_definition
  = render 'documentation/pbs_list'

.page_section
  - if @pbs_lists.empty?
    #no_records
      No PBS List records were found.
  - else
    .records_header
      .page_entries_info
        = raw page_entries_info @pbs_lists
    %table.records
      %tr
        %th
          Practice Name
        %th
          Last Contact
        %th{ :colspan => "1" }

      - @pbs_lists.each do |pbs|
        - provider = pbs.provider
        %tr{ :class => cycle('even_record', 'odd_record') }
          %td
            - name = blank_safe(provider.name_practice)
            = link_to name, edit_provider_path(provider), :class => "edit_link icon_link"
          %td
            - unless provider.contacts.blank?
              - txt = "#{provider.contacts.first.contact_date} #{provider.contacts.first.contact_start_time}"
              = link_to txt, contact_log_provider_path(provider), :class => "list_link icon_link"
          %td
            = provider_recruitment_link(pbs) unless pbs.recruitment_ended?
  .links
    = link_to 'Add New PBS List record', new_pbs_list_path, :class => "add_link icon_link"
    %br
    = link_to "Upload PBS List", upload_pbs_lists_path, :class => "import_link icon_link"

  = will_paginate @pbs_lists
