- page_title "PBS Lists"

.page_section.search
  = search_form_for(@q, :html => {:autocomplete => "off"}) do |f|
    %p
      = f.label :provider_name_practice_cont, "Provider Name"
      = f.text_field :provider_name_practice_cont
    %p
      = radio_button_tag 'q[in_sample_code_eq]', '1', params['q'] && params['q']['in_sample_code_eq'].to_s == '1'
      Original location
      = radio_button_tag 'q[in_sample_code_eq]', '2', params['q'] && params['q']['in_sample_code_eq'].to_s == '2'
      Substitute location
      = radio_button_tag 'q[in_sample_code_eq]', '', params['q'] && params['q']['in_sample_code_eq'].blank?
      All

    = f.submit "Search"

.page_section.pbs_list
  - if @pbs_lists.empty?
    #no_records
      No PBS List records were found.
  - else
    .records_header
      .page_entries_info
        = raw page_entries_info @pbs_lists
    %table.records.pbs_list
      %tr
        %th
          = sort_link @q, "provider_name_practice", "Provider Name"
        %th
          Last Contact
        %th
          Status

      - @pbs_lists.each do |pbs|
        - provider = pbs.provider
        - path = pbs_list_path(pbs)
        - contact = provider.contacts.last
        %tr{ :class => cycle('even_record', 'odd_record') }
          - name = blank_safe(provider.name_practice)
          %td{ :title => "#{name} - #{provider.address.to_s}" }
            - cls = "icon_link"
            - cls += " hospital_link" if pbs.hospital?
            = link_to name, path, { :class => cls }
          %td
            - unless provider.contacts.blank?
              - txt = "#{contact.contact_date} #{contact.contact_start_time}"
              = link_to txt, path, { :class => "icon_link" }
          %td
            - unless provider.contacts.blank?
              - cls = "icon_link"
              - if pbs.pr_recruitment_status_code.to_i == 1
                - if pbs.provider.recruitment_logistics_complete?
                  - cls += " star_link"
                  - ttl = "Provider Logistics Complete"
                - else
                  - cls += " notification_icon"
                  - ttl = "Needs to complete Provider Logistics"
              = link_to pbs.pr_recruitment_status.to_s, path, { :class => cls, :title => ttl }

  .links
    %br
    = link_to "Upload PBS List", upload_pbs_lists_path, :class => "import_link icon_link"

  = will_paginate @pbs_lists


