- page_title "Provider Information"

= render "/pbs_lists/provider_section"

= render "/pbs_lists/staff_section"

= render "/pbs_lists/contacts_section"

.recruit_button
  %span{ :class => "green_button" }
    = provider_recruitment_link(@pbs_list)

= render "/pbs_lists/recruitment_status_form"

= render "/pbs_lists/provider_logistics_section"

- if !@provider.contact_links.empty? && permit?(Role::SYSTEM_ADMINISTRATOR, Role::USER_ADMINISTRATOR, Role::STAFF_SUPERVISOR)
  .substitute_link

    - if event = @provider.provider_recruitment_event
      .provider_recruitment_event
        %span{ :class => "green_button" }
          = link_to "Edit Provider Recruitment Event Record", edit_event_path(event)

    - if @pbs_list.pr_recruitment_status_code == 2
      %span{ :class => "red_button" }
        = link_to 'Assign Substitute Provider Due to Refusal to Participate',
            refused_provider_path(@provider),
            :confirm => "Are you certain you would like to assign a substitute provider?"

:javascript
  $(function () {
    var pbsListUI = new NCSCore.UI.PbsList({ successPath: 'provider_staff_member' });
  });