- title "Provider Information"

= render "/pbs_lists/provider_section"

= render "/pbs_lists/staff_section"

= render "/pbs_lists/contacts_section"

- if @provider.can_recruit?
  .recruit_button
    %span{ :class => "green_button" }
      = provider_recruitment_link(@pbs_list)
  - unless @provider.contact_links.empty?
    .substitute_link
      %span{ :class => "red_button" }
        = link_to 'Assign Substitute Provider Due to Refusal to Participate',
            refused_provider_path(@provider),
            :confirm => "Are you certain you would like to assign a substitute provider?"

:javascript
  $(function () {
    var pbsListUI = new NCSCore.UI.PbsList({ successPath: 'provider_staff_member' });
  });