= form_for @specimen_shipping do |f|
  = render "shared/full_error_messages", :object => f.object
  %div{:id => 'specimen_table', :class => 'specimen_table'}
    %table.records
      %tr
        %th
          Storage Container ID
        %th
          Specimen ID
        %th
          Specimen Type
        %th
          Volume Amount
        %th
          Volume Unit
        %th
          Root ID
        %th
          Extension
      - @specimen_storages.each do |ss|
        - cycle_var = cycle('even_record', 'odd_record')
        - @index = 0
        - @specimen_ids_per_specimen_storage = []
        - ss.specimen_storage_container.specimen_receipts.each do |sr|
          - @specimen_ids_per_specimen_storage << sr.specimen_id

        = f.fields_for :ship_specimens do |s|
          - if @specimen_ids_per_specimen_storage.include? s.object.specimen_id
            %tr{ :class => cycle_var }
              - if @index == 0                  
                %td{:rowspan=>ss.specimen_storage_container.specimen_receipts.size}
                  = ss.specimen_storage_container.storage_container_id
                  = hidden_field_tag "specimen_storage_container_id[]", ss.specimen_storage_container.storage_container_id
              %td
                = s.object.specimen.specimen_id
                = s.hidden_field :specimen_id
              %td
                = sample_type(s.object.specimen.specimen_id)
              %td
                = s.text_field :volume_amount, :class => 'volume'
              %td
                = s.text_field :volume_unit, :class => 'volume'
              %td
                = sample_root_id(s.object.specimen.specimen_id)
              %td
                = sample_extenstion(s.object.specimen.specimen_id)
              - @index = @index+1

  %div{:id => 'manifest_form', :class => 'manifest_form'}
    = f.label "Staff:"
    = display_staff_info
    %br
  
    = f.label "Ship Date:"
    = f.text_field :shipment_date, :class => "date important_field"
    %span{ :class => "required" } *
    %br

    = f.label "Ship Time:"
    = f.text_field :shipment_time, :class => "time"
    %br


    = f.label "Shipment ID:"
    = f.text_field :shipper_id, :class => "important_field"
    %span{ :class => "required" } *
    %br

    = f.label "PSU ID:"
    = NcsCode.for_list_name_and_local_code("PSU_CL1", @psu_code)
    %br

    = f.label "Site Code:"
    = f.object.specimen_processing_shipping_center.specimen_processing_shipping_center_id
    %br
    
    = f.label "Contact Name:"
    = f.text_field :contact_name
    %br
    
    = f.label "Contact Phone:"
    = f.text_field :contact_phone
    %br

    = f.label "Sent to Site:"
    = f.object.shipper_destination
    %br

    = f.label "Carrier:"
    = f.text_field :carrier
    %br

    = f.label "Tracking Number:"
    = f.text_field :shipment_tracking_number, :class => "important_field"
    %span{ :class => "required" } *
    %br

    = render "shared/ncs_code_select", { :f => f, :code => :shipment_temperature_code, :label_text => "Shipping Temperature:" }
    %br

    = f.label "Total # Containers:"
    = @specimen_storages.size
    %br
    
    = f.label "Total # Specimens:"
    = f.object.ship_specimens.size
    %br

  = submit_tag "Generate Manifest", :class => "generate_manifest", :id => "generate_manifest"
  %input{:type=>"button", :class => "exit_and_no_refresh", :value =>"Exit"}

