= form_for @specimen_shipping, :url => send_email_specimen_shippings_path, :method => "post" do |f|
  - flash.each do |message_type, message|
    %div{ :class => "my_flash_message", :id => "flash_#{message_type}" }
      = message
  = render "shared/full_error_messages", :object => f.object
  %div{:id => 'manifest_form', :class => 'manifest_form'}
    = f.hidden_field :id
    
    = "Staff:"
    = display_staff_info
    %br
    = "Ship Date:"
    = f.object.shipment_date
    %br 
    
    = "Ship Time:"
    = f.object.shipment_time
    %br
    
    = "Shipment ID:"
    = f.object.shipper_id
    %br
    
    = "PSU ID:" 
    = NcsCode.for_list_name_and_local_code("PSU_CL1", @psu_code)      
    %br
    
    = "Site Code:"
    = @specimen_shipping.specimen_processing_shipping_center.specimen_processing_shipping_center_id
    %br
    
    = "Contact Name:"
    = f.object.contact_name
    %br
    
    = "Contact Phone:"
    = f.object.contact_phone
    %br
    
    = "Sent to Site:"
    = @send_to_site
    %br
    
    = "Carrier:"
    = f.object.carrier
    %br
    
    = "Tracking Number:"
    = f.object.shipment_tracking_number
    %br
    
    = "Shipping Temperature:"
    = NcsCode.for_attribute_name_and_local_code(:shipment_temperature_code, f.object.shipment_temperature_code)
    %br

    = "Total # Containers:"
    = f.object.specimen_storage_containers.size
    %br
    
    = "Total # Specimens:"
    = f.object.ship_specimens.size
    %br

  %div{:id => 'specimen_table', :class => 'specimen_table'}
    %table.records
      %tr
        %th
          Storage Container ID
        %th
          Specimen ID
        %th
          Specimen Type
        %th
          Volume Amount
        %th
          Volume Unit
        %th
          Root ID
        %th
          Extension

      - cycle_var = cycle('even_record', 'odd_record')
      - @index = 0
      - @array_of_specimen_storage_container_ids = []
      = f.fields_for :ship_specimens do |s|
        %tr{ :class => cycle_var }
          - @storage_cont_id = s.object.specimen.specimen_receipt.specimen_storage_container
          - if not @array_of_specimen_storage_container_ids.include? @storage_cont_id
            - @size_per_row = @storage_cont_id.specimen_receipts.size
            %td{:rowspan=>@size_per_row}
              = @storage_cont_id.storage_container_id
              - @array_of_specimen_storage_container_ids << @storage_cont_id
          %td
            = s.object.specimen.specimen_id
          %td
            = sample_type(s.object.specimen.specimen_id)
          %td
            = s.object.volume_amount
          %td
            = s.object.volume_unit
          %td
            = sample_root_id(s.object.specimen.specimen_id)
          %td
            = sample_extenstion(s.object.specimen.specimen_id)
      
  %input{:type=>"button", :class => "print_manifest", :value =>"Print Manifest", :onclick => "javascript:print()"}
  = f.submit "Email", :disable_with => 'Submitting...', :class => "email_manifest", :id => "email_manifest"
  %input{:type=>"button", :class => "exit_and_refresh", :value =>"Exit"}  