- response_set = f.object.response_set
.column-container
  = f.hidden_field :contact_id
  = f.hidden_field :person_id
  = f.hidden_field :psu_code

  = render "shared/ncs_code_select", { :f => f, :code => :nir_type_person_code, :label_text => "Description of Non-Interview of Person", :other => :nir_type_person_other }

  %p
    = f.label :nir, "Report Text"
    %span{ :class => "help_icon" }
    = render "non_interview_reports/nir_tooltip"
  %p
    = f.text_area :nir

  - if response_set.nil?
    = render "shared/ncs_code_select", { :f => f, :code => :nir_vacancy_information_code, :label_text => "Source of Vacancy Information", :other => :nir_vacancy_information_other, :help_text => "non_interview_reports/nir_vacancy_information_tooltip" }

    = render "shared/ncs_code_select", { :f => f, :code => :nir_no_access_code, :label_text => "No Access Description", :other => :nir_no_access_other, :help_text => "non_interview_reports/nir_no_access_tooltip" }

    = render "shared/ncs_code_select", { :f => f, :code => :nir_access_attempt_code, :label_text => "How access was attempted", :other => :nir_access_attempt_other }

  - if response_set.nil?
    .no_access_non_interview_reports
      - @noAccessNonInterviewReportTemplate = generate_nested_attributes_template(f, :no_access_non_interview_reports, 'non_interview_reports/no_access_non_interview_reports')
      %table{ :class => 'records no_access_non_interview_reports' }
        %tbody.nested_records_no_access_non_interview_reports
          = f.fields_for :no_access_non_interview_reports do |nanir|
            = render :partial => 'non_interview_reports/no_access_non_interview_reports', :locals => { :f => nanir }
        %tfoot
          %tr.row
            %td{ :colspan => '2' }
              = link_to_add_fields "Add No Access Non-Interview Report", :no_access_non_interview_reports

    .dwelling_unit_type_non_interview_reports
      - @dwellingUnitTypeNonInterviewReportTemplate = generate_nested_attributes_template(f, :dwelling_unit_type_non_interview_reports, 'non_interview_reports/dwelling_unit_type_non_interview_reports')
      %table{ :class => 'records dwelling_unit_type_non_interview_reports' }
        %tbody.nested_records_dwelling_unit_type_non_interview_reports
          = f.fields_for :dwelling_unit_type_non_interview_reports do |dutnir|
            = render :partial => 'non_interview_reports/dwelling_unit_type_non_interview_reports', :locals => { :f => dutnir }
        %tfoot
          %tr.row
            %td{ :colspan => '2' }
              = link_to_add_fields "Add Dwelling Unit Type Non-Interview Report", :dwelling_unit_type_non_interview_reports

    .vacant_non_interview_reports
      - @vacantNonInterviewReportTemplate = generate_nested_attributes_template(f, :vacant_non_interview_reports, 'non_interview_reports/vacant_non_interview_reports')
      %table{ :class => 'records vacant_non_interview_reports' }
        %tbody.nested_records_vacant_non_interview_reports
          = f.fields_for :vacant_non_interview_reports do |dutnir|
            = render :partial => 'non_interview_reports/vacant_non_interview_reports', :locals => { :f => dutnir }
        %tfoot
          %tr.row
            %td{ :colspan => '2' }
              = link_to_add_fields "Add Vacant Non-Interview Report", :vacant_non_interview_reports

  .nir_section.hide.nir_type_1
    %b
      Cognitive Disability

    = render "shared/ncs_code_select", { :f => f, :code => :cog_inform_relation_code, :label_text => "Relationship of informant to participant", :other => :cog_inform_relation_other }

    %p
      = f.label :cog_disability_description, "Description of cognitive disability"
      %br
      = f.text_area :cog_disability_description

    = render "shared/ncs_code_select", { :f => f, :code => :permanent_disability_code, :label_text => "Is the disability permanent?" }

  .nir_section.hide.nir_type_2
    %b
      Deceased

    = render "shared/ncs_code_select", { :f => f, :code => :deceased_inform_relation_code, :label_text => "Relationship of informant to participant", :other => :deceased_inform_relation_other }

    %p
      = f.label :year_of_death, "Year of Death"
      %br
      = f.text_field :year_of_death

    = render "shared/ncs_code_select", { :f => f, :code => :state_of_death_code, :label_text => "State of Death" }

  - cls = "nir_section nir_type_3"
  - cls << " hide" if response_set.nil?
  %div{ :class => cls }
    %b
      Refusal

    = render "shared/ncs_code_select", { :f => f, :code => :who_refused_code, :unambiguous_code => :nir_who_refused_code, :label_text => "Relationship of informant to participant", :other => :who_refused_other }

    = render "shared/ncs_code_select", { :f => f, :code => :refuser_strength_code, :label_text => "Strength/Intensity of Refusal" }

    = render "shared/ncs_code_select", { :f => f, :code => :refusal_action_code, :label_text => "Recommended next steps for case" }

    .refusal_non_interview_reports
      - @refusalNonInterviewReportTemplate = generate_nested_attributes_template(f, :refusal_non_interview_reports, 'non_interview_reports/refusal_non_interview_reports')
      %table{ :class => 'records refusal_non_interview_reports' }
        %tbody.nested_records_refusal_non_interview_reports
          = f.fields_for :refusal_non_interview_reports do |dutnir|
            = render :partial => 'non_interview_reports/refusal_non_interview_reports', :locals => { :f => dutnir }
        %tfoot
          %tr.row
            %td{ :colspan => '2' }
              = link_to_add_fields "Add Refusal Non-Interview Report", :refusal_non_interview_reports

  .nir_section.hide.nir_type_4
    %b
      Long-term Illness

    %p
      = f.label :long_term_illness_description, "Description of long term illness"
      %br
      = f.text_area :long_term_illness_description

  .nir_section.hide.nir_type_5
    %b
      Unavailable to Participate

    = render "shared/ncs_code_select", { :f => f, :code => :permanent_long_term_code, :label_text => "Will the participant ever be able to participate in the study" }

    = render "shared/ncs_code_select", { :f => f, :code => :reason_unavailable_code, :label_text => "Reason the participant is unavailable (long term) to participate", :other => :reason_unavailable_other }

    %p
      = f.label :date_available_date, "Date participant will be available"
      %br
      = f.text_field :date_available_date, :class => "datepicker"

  .nir_section.hide.nir_type_6
    %b
      Moved
    %p
      = f.label :date_moved_date, "Date participant moved"
      %br
      = f.text_field :date_moved_date, :class => "datepicker"

    %p
      = f.label :moved_length_time, "Period of time participant moved away"
      %br
      = f.text_field :moved_length_time

    = render "shared/ncs_code_select", { :f => f, :code => :moved_unit_code, :label_text => "Unit of time participant moved away" }

    = render "shared/ncs_code_select", { :f => f, :code => :moved_inform_relation_code, :label_text => "Relationship of informant to participant", :other => :moved_inform_relation_other }

  .nir_section.hide.nir_type_-5
    %b
      Other
    %p
      = f.label :nir_other, "Other reason for NIR"
      %br
      = f.text_area :nir_other

  %p.hide
    TODO: associate dwelling unit

:javascript
  $(document).ready(function() {
    wire_up_select_other("#non_interview_report_nir_vacancy_information_code","#non_interview_report_nir_vacancy_information_other");
    wire_up_select_other("#non_interview_report_nir_no_access_code","#non_interview_report_nir_no_access_other");
    wire_up_select_other("#non_interview_report_nir_access_attempt_code","#non_interview_report_nir_access_attempt_other");
    wire_up_select_other("#non_interview_report_nir_type_person_code","#non_interview_report_nir_type_person_other");
    wire_up_select_other("#non_interview_report_cog_inform_relation_code","#non_interview_report_cog_inform_relation_other");
    wire_up_select_other("#non_interview_report_deceased_inform_relation_code","#non_interview_report_deceased_inform_relation_other");
    wire_up_select_other("#non_interview_report_who_refused_code","#non_interview_report_who_refused_other");
    wire_up_select_other("#non_interview_report_reason_unavailable_code","#non_interview_report_reason_unavailable_other");
    wire_up_select_other("#non_interview_report_moved_inform_relation_code","#non_interview_report_moved_inform_relation_other");

    noAccessNonInterviewReportAttributesForm = new NCSCore.UI.NonInterviewReportAssociation({
      noAccessNonInterviewReportTemplate: '#{@noAccessNonInterviewReportTemplate}',
      refusalNonInterviewReportTemplate: '#{@refusalNonInterviewReportTemplate}',
      dwellingUnitTypeNonInterviewReportTemplate: '#{@dwellingUnitTypeNonInterviewReportTemplate}',
      vacantNonInterviewReportTemplate: '#{@vacantNonInterviewReportTemplate}' });

    $("select#non_interview_report_nir_type_person_code").change(function(event) {
      val = $("select#non_interview_report_nir_type_person_code").val();
      $(".nir_section").hide();
      $(".nir_type_" + val).show();
    });

  });
