= form_for @sample_receipt_store do |f|
  = "Sample ID:"
  = f.object.sample_id
  = f.hidden_field :sample_id  
  %div{:class => "spec_sample_receipt"}
  - if not f.object.placed_in_storage_datetime.blank?
    = "Placed in Storage Date and Time: "
    = f.object.placed_in_storage_datetime
    %br
  = "Storage Compartment Area: " 
  = NcsCode.for_attribute_name_and_local_code(:storage_compartment_area_code, @sample_receipt_store.storage_compartment_area_code)
  %br
  - if not f.object.storage_comment_other.blank?
    = "Storage Comment Other: "
    = f.object.storage_comment_other
    %br
  = link_to 'Edit', edit_sample_receipt_store_path(@sample_receipt_store), :class => "edit_link icon_link specimen_storage_edit"      
