- if defined?(sample_receipt_store.errors) && sample_receipt_store.errors.any?
  %div{ :id => "errorExplanation", :class => "errorExplanation"}
    %h2
      = pluralize(sample_receipt_store.errors.count, "error")
      prohibited this specimen from being stored
    %ul
      - sample_receipt_store.errors.full_messages.each do |msg|
        %li
          = msg
= form_tag  sample_receipt_store, :class => "specimen_storage_form", :id => sample_receipt_store.id do
  = label_tag "Sample Id:"
  = sample_receipt_store.sample_id
  %br

  = label_tag "sample_receipt_store[placed_in_storage_datetime]", "Placed in Storage Date and Time:"
  = text_field_tag "sample_receipt_store[placed_in_storage_datetime]"+"[" + sample_receipt_store.id.to_s + "]", sample_receipt_store.placed_in_storage_datetime, :class => "datetime"
  %br

  = label_tag "Storage Compartment Area:"
  - opts = [["-- Select Storage Compartment Area --", ""]] + NcsCode.ncs_code_lookup(:storage_compartment_area_code)
  = select_tag("sample_receipt_store[storage_compartment_area_code]", options_for_select(opts))
  %br  

  = label_tag "Storage Comment Other:"
  = text_field_tag "sample_receipt_store[storage_comment_other]", sample_receipt_store.storage_comment_other
  %br

  = hidden_field_tag "sample_receipt_store[sample_id]", sample_receipt_store.sample_id
  = submit_tag "Submit", :disable_with => 'Submitting...'
  -#, :id => sample_receipt_store.id

-#
  = form_for @sample_receipt_store, :html => { :class => "specimen_storage_form", :id => @sample_receipt_store.id} do |f|
    = render "shared/full_error_messages", :object => f.object
    = f.label :sample_id, "Sample Id:"
    = f.object.sample_id
    = f.hidden_field :sample_id  
    %br
    = f.label :placed_in_storage_datetime, "Placed in Storage Date and Time: "
    = f.text_field :placed_in_storage_datetime, :class => "datetime"
    %br
    = f.label :storage_compartment_area_code, "Storage Compartment Area"
    = f.select(:storage_compartment_area_code, NcsCode.ncs_code_lookup(:storage_compartment_area_code), { :include_blank => "-- Select Storage Compartment Area --" })  
    %br
    = f.label :storage_comment_other, "Storage Comment Other: "
    = f.text_field :storage_comment_other
    %br
    = f.submit "Submit", :disable_with => 'Submitting...'