= form_for @sample_receipt_store do |f|
  = f.label :sample_id, "Sample Id:"
  = f.object.sample_id
  = f.hidden_field :sample_id  
  %br
  = render "shared/ncs_code_select", { :f => f, :code => :sample_condition_code, :label_text => "Sample Condition" }
  %br
  = f.label :receipt_comment_other, "Receipt comment other:"
  = f.text_field :receipt_comment_other
  %br

  = f.label :receipt_datetime, "Receipt Date and Time: "
  = f.text_field :receipt_datetime, :class => "datetime"
  %br

  = render "shared/ncs_code_select", { :f => f, :code => :cooler_temp_condition_code, :label_text => "Cooler Temp Condition" }
  %br
  = f.label :environmental_equipment_id, "Equipment ID:"
  = f.text_field :environmental_equipment_id
  %br

  = render "shared/ncs_code_select", { :f => f, :code => :temp_event_occurred_code, :label_text => "Temp Event Occurred" }    
  %br
  = render "shared/ncs_code_select", { :f => f, :code => :temp_event_action_code, :label_text => "Temp Event Action" }      
  %br
  = f.label :temp_event_action_other, "Temp Event Action Other"
  = f.text_field :temp_event_action_other
  %br
  = f.label :placed_in_storage_datetime, "Placed in Storage Date and Time: "
  = f.text_field :placed_in_storage_datetime, :class => "datetime"
  %br
  = render "shared/ncs_code_select", { :f => f, :code => :storage_compartment_area_code, :label_text => "Storage Compartment Area" }
  %br
  = f.label :storage_comment_other, "Storage Comment Other: "
  = f.text_field :storage_comment_other
  %br  
  = f.submit "Receive", :disable_with => 'Submitting...', :class => 'sample_received'
