.activity_psc_action
  = form_tag "/contact_links/update_psc_for_activity", :method => :post do
    = hidden_field_tag :activity_id, activity.activity_id
    = hidden_field_tag :contact_link_id, @contact_link.id
    = select_tag "new_state", psc_activity_options(activity)
    = submit_tag "Update State of #{activity.activity_name}",
      :confirm => "Are you certain you would like to update the state of the #{activity.activity_name} activity?"