- if participant = @event.participant
  %div{ :id => "activity_#{activity.activity_id}", :class => "consent_link" }
    - if activity.child_consent?
      = render "parental_permission_for_child_participation", :event => @event, :contact_link => @contact_link
      = render "activity_psc_action", :activity => activity
    - else
      = determine_participant_consent_path(participant, @contact_link, current_activity == activity)
      = render "activity_psc_action", :activity => activity
      - if participant.consented?(NcsCode.for_attribute_name_and_local_code(:consent_type_code, consent_type_for(participant).local_code))
        %span{ :class => "consented" }
          Participant has consented.
