.page_section
  = form_for(@contact_link, :html => {:autocomplete => "off"}) do |f|
    = render "shared/full_error_messages", :object => @contact_link
    = render "shared/full_error_messages", :object => @contact_link.event if @contact_link.event
    = render "shared/full_error_messages", :object => @contact_link.contact if @contact_link.contact

    = f.hidden_field :person_id

    .contact_link_section
      %h3
        Contact
      = fields_for @contact_link.contact do |contact|
        = render "contacts/form_fields", { :f => contact }

    .contact_link_section
      %h3
        Event
      = fields_for @contact_link.event do |event|
        = render "events/form_fields", { :f => event }

    .contact_link_section
      %h3
        &nbsp;
      %p
        = "Close contact for #{@contact_link.event.to_s}"
        %br
        = f.submit "Close"