- if survey = Survey.most_recent_for_access_code(Instrument.surveyor_access_code(activity.labels))
  - if contact_link.contact.instrument_survey_titles.include?(survey.title)
    .known_instrument
      = "#{activity.activity_name} - #{survey.title}"
  - else
    .instrument
      = link_to "#{activity.activity_name} - #{survey.title}",
                start_instrument_person_path(person, :survey_access_code => survey.access_code,
                                                     :contact_link_id => contact_link.id),
                :class => "edit_link icon_link"
- elsif activity.activity_name.include?("Consent")
  = render "consents"
- else
  .unknown_instrument
    = activity.activity_name