- initial_instrument_for_contact ||= nil

%p.hide
  = @event

- if @contact_link.instrument.try(:instrument_type).to_s =~ /Pregnancy Screener/
  %h3
    = "#{@event}"
  %p
    There is only one Instrument associated with the Pregnancy Screener Event
- elsif @event.postnatal? && !@event.participant.has_children?
  .important
    Child participation is required in order to continue.
  = render "parental_permission_for_child_participation", :event => @event, :contact_link => @contact_link
- else
  %h3
    = "Instruments for #{@event}"

  - if initial_instrument_for_contact
    .instructional_note
      Choose the Instrument from the list below to administer for this contact.

  - if @person.participant.blank?
    .person_not_participant
      = blank_safe(@person.to_s)
      is not a participant. No instruments exist for non participants.
  - else
    .activity_list_for_event
      - if !@activities_for_event.blank?
        - @activities_for_event.each do |sa|
          - next unless sa.scheduled?
          = render "instrument_for_activity", :activity => sa, :person => @person, :contact_link => @contact_link
      - else
        = render "consent_or_empty", :contact_link => @contact_link
