%p.hide
  = @contact_link.event
  %br
  = @contact_link.event.psc_segment_name

%h3 
  = "Instruments for #{@contact_link.event.psc_segment_name}"
- if activities = psc.activities_for_segment(@person.participant, @contact_link.event.psc_segment_name)
  - activities.each do |activity|
    - instrument = InstrumentEventMap.instrument_for_activity(activity)
    - if instrument && survey = Survey.most_recent_for_title(instrument)
      - if @contact_link.contact.instruments.collect {|i| i.survey.title}.include?(survey.title)
        %span.known_instrument
          = "#{activity} - #{instrument}"
      - else
        = link_to "#{activity} - #{instrument}", start_instrument_person_path(@person, :survey_access_code => survey.access_code, :contact_link_id => @contact_link.id, :initial_instrument_for_contact => initial_instrument_for_contact), :class => "edit_link icon_link"
    - else
      = "#{activity}"
    %br