- initial_instrument_for_contact ||= nil

%p.hide
  = @contact_link.event
  %br
  = @contact_link.event.psc_segment_name

%h3
  = "Instruments for #{@contact_link.event.psc_segment_name}"

- if initial_instrument_for_contact
  .instructional_note
    Choose the Instrument from the list below to administer for this contact.
    %br
    (If there is a Consent link in the list, you should obtain consent before proceeding.)

- no_consent = true
- if @person.participant.blank?
  .person_not_participant
    = blank_safe(@person.to_s)
    is not a participant. No instruments exist for non participants.
- else
  - if activities = psc.activities_for_segment(@person.participant, @contact_link.event.psc_segment_name)
    - activities.each do |activity|
      - instrument = InstrumentEventMap.instrument_for_activity(activity)
      - if instrument && survey = Survey.most_recent_for_title(instrument)
        - if @contact_link.contact.instruments.collect {|i| i.survey.title}.include?(survey.title)
          .known_instrument
            = "#{activity} - #{instrument}"
        - else
          .instrument
            = link_to "#{activity} - #{instrument}", start_instrument_person_path(@person, :survey_access_code => survey.access_code, :contact_link_id => @contact_link.id, :initial_instrument_for_contact => initial_instrument_for_contact), :class => "edit_link icon_link"
      - elsif activity.include?("Consent")
        - no_consent = false
        = render "consents"
      - else
        .instrument
          = activity

- if no_consent
  - if !(@contact_link.event.to_s =~ /Pregnancy Screener/) && !@person.participant.blank?
    %h3
      Unscheduled Consents
    .instructional_note
      Use the links below to obtain consent for a participant that is not a part of the above scheduled activities.
    = render "consents"