- if can_show_activity_link?(activity)
  - if survey = Survey.most_recent_for_access_code(Instrument.surveyor_access_code(activity.labels))
    - if contact_link.contact.instrument_survey_titles.include?(survey.title)
      .known_instrument
        = "#{activity.activity_name} - #{survey.title}"
    - else
      .instrument
        = link_to "#{activity.activity_name} - #{survey.title}",
          start_instrument_contact_link_path(contact_link, :survey_access_code => survey.access_code,
                                                           :initial_instrument_for_contact => initial_instrument_for_contact),
                  :class => "edit_link icon_link"
  - elsif activity.activity_name.include?("Consent")
    = render "consents"
  - else
    .instrument
      = activity.activity_name
