%div{ :class => "known_instrument", :title => survey.description}
  - cls = @current_activity == activity ? "star_link icon_link" : "edit_link icon_link"
  = link_to "Edit #{strip_part_from_activity_name(activity.activity_name)}", path, :class => cls
  = render "activity_psc_action", :activity => activity
  - if obj.contact == contact_link.contact
    - rs = obj.response_set
    .instrument_response_set
      = link_to "Edit Responses (#{rs.participant.person.to_s})",
        edit_my_survey_path(:survey_code => rs.survey.access_code, :response_set_code => rs.access_code),
        :class => "edit_survey_link icon_link",
        :title => "Edit Participant Responses for the #{rs.survey.title} Survey"