- participant = event.participant
- if event.pv1? || event.pv2? || event.birth?
  .child_participation
    = link_to "Create Child Participation Consent",
      new_child_participant_participant_consents_path(participant, {:contact_link_id => contact_link.id}),
      :class => "add_link icon_link",
      :confirm => "Are you certain you would like to create a child participant record?"

    - participant.children.each do |child|
      .child
        - if child_participant = child.participant
          - if child_consent = child_participant.consent_for_type(ParticipantConsent.child_consent_type_code)
            = link_to "Edit Participant Consent for #{child}",
              edit_participant_participant_consent_path(child_participant, child_consent, {:contact_link_id => contact_link.id}),
              :class => "edit_link icon_link"
          - else
            = child.to_s
        - else
          = child.to_s