-# activities associated with a previously completed instrument via survey title
-# but not those that the primary instrument activity (i.e. a multi-part survey)
- if activity.references.blank?
  - instruments = contact_link.event.instruments.select { |i| i.survey.try(:title) == survey.title }
  - instruments.each do |instr|
    %div{ :class => "known_instrument", :title => survey.description}
      - cls = @current_activity == activity ? "star_link icon_link" : "edit_link icon_link"
      = link_to "Edit #{strip_part_from_activity_name(activity.activity_name)}", edit_instrument_path(instr), :class => cls
      = render "activity_psc_action", :activity => activity
      - instr.response_sets.each do |rs|
        .instrument_response_set
          = link_to "Edit Instrument Responses (#{rs.participant.person.to_s})",
            surveyor.edit_my_survey_path(:survey_code => rs.survey.access_code, :response_set_code => rs.access_code),
            :class => "edit_survey_link icon_link",
            :title => "Edit Participant Responses for the #{rs.survey.title} Survey"
