- page_title "Event Activities"

= render "participants/header_information", :person => @person, :participant => @event.participant

.page_section
  %h3
    = "Instruments and Activities for the #{@event} Event"
  .instructional_note
    If there are other instruments associated with this event,
    you can choose to administer another instrument from the list below.
    %br
    The starred item is the current activity to perform.
  = render 'instruments_for_upcoming_events' if @person

.page_section
  %h3
    Enter information about the Visit
  %p
    - if rvis = @contact_link.contact.participant_visit_record
      = link_to "Update Participant Record of Visit (RVIS)",
        edit_participant_visit_record_path(rvis, :contact_link_id => @contact_link.id),
        :class => "edit_link icon_link"
    - else
      = link_to "Create Participant Record of Visit (RVIS)",
        new_participant_visit_record_path(:contact_link_id => @contact_link.id),
        :class => "add_link icon_link"

  - if ParticipantVisitConsent.visit_information_sheet_presented?(@event)
    %p
      - if @contact_link.contact.participant_visit_consents.count > 0
        = link_to "Update Participant Visit Consent Records",
          edit_participant_visit_consent_path(:contact_link_id => @contact_link.id),
          :class => "edit_link icon_link"
      - else
        = link_to "Create Participant Visit Consent Records",
          new_participant_visit_consent_path(:participant_id => @participant.id, :contact_link_id => @contact_link.id),
          :class => "add_link icon_link"

.page_section
  %h3
    End Interaction with Participant
  %p
    = link_to "Complete Contact Record",
      edit_contact_link_contact_path(@contact_link, @contact_link.contact),
      :class => "edit_link icon_link"
    %br
    = link_to "Complete Event Record",
      edit_contact_link_event_path(@contact_link, @contact_link.event),
      :class => "edit_link icon_link"