- page_title "Finalize Instrument"
%p
  - if @surveys.first
    = @person
    - if @response_sets.all?(&:complete?)
      has completed
    - else
      has taken
    = @surveys.first.description

.page_section
  = form_for(@contact_link, :url => finalize_instrument_contact_link_path(@contact_link), :html => {:autocomplete => "off"}) do |f|
    = render "shared/full_error_messages", :object => f.object

    = f.hidden_field :person_id

    = fields_for @instrument do |instrument|
      = render "instruments/form_fields", { :f => instrument }

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'
