- title "Finalize Instrument"

.mdes_table_definition
  = render 'documentation/instrument'

%p
  - if @survey
    = @person
    - if @response_set.complete?
      has completed
    - else
      has taken
    Instrument -
    = @survey.title

.page_section
  = form_for(@contact_link, :url => finalize_instrument_contact_link_path(@contact_link), :html => {:autocomplete => "off"}) do |f| 
    = render "shared/full_error_messages", :object => f.object

    = f.hidden_field :person_id

    .contact_link_section
      %h3
        Instrument
      - if @instrument.survey
        - survey = @instrument.survey
        - if rs = ResponseSet.where(:survey_id => survey.id).where(:user_id => @contact_link.person_id).first
          .survey
            = link_to survey.title, edit_my_survey_path(:survey_code => survey.access_code, :response_set_code => rs.access_code), :class => "show_link icon_link"

      = fields_for @instrument do |instrument|
        = render "instruments/form_fields", { :f => instrument }

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'
