- page_title "Contacts"

.page_section.search
  = search_form_for(@q, :html => {:autocomplete => "off"}) do |f|
    %p
      = f.label :contact_contact_date_date_gteq, "Date After or On"
      = f.text_field :contact_contact_date_date_gteq, :class => 'datepicker'
    %p
      = f.label :contact_contact_date_date_lteq, "Date Before or On"
      = f.text_field :contact_contact_date_date_lteq, :class => 'datepicker'
    %p
      = f.label :contact_who_contacted_code_eq, "Person Contacted"
      = f.select(:contact_who_contacted_code_eq, NcsCode.ncs_code_lookup(:who_contacted_code), { :include_blank => "-- Select Person Contacted --" })
    %p
      = f.label :person_last_name_cont, "Last Name Contains"
      = f.text_field :person_last_name_cont

    - if recruitment_strategy.pbs?
      %p
        = f.label :provider_name_practice_cont, "Provider Name Contains"
        = f.text_field :provider_name_practice_cont

    %p
      = f.label :contact_contact_comment_cont, "Contact Comments Contains"
      = f.text_field :contact_contact_comment_cont
    %p
      = f.label :contact_contact_type_code_eq, "Contact Type"
      = f.select(:contact_contact_type_code_eq, NcsCode.ncs_code_lookup(:contact_type_code), { :include_blank => "-- Select Contact Type --" })
    %p
      = f.label :contact_contact_disposition_eq, "Contact Disposition"
      = f.select(:contact_contact_disposition_eq, grouped_disposition_codes)
    %p
      = f.label :event_event_type_code_eq, "Event Type"
      = f.select(:event_event_type_code_eq, NcsCode.ncs_code_lookup(:event_type_code), { :include_blank => "-- Select Event Type --" })
    %p
      = f.label :event_event_disposition_eq, "Event Disposition"
      = f.select(:event_event_disposition_eq, grouped_disposition_codes)
    %br
    = f.submit "Search"
    = link_to "Export All Results", { :controller => "contact_links", :action => "index", :format => "csv", :q => params[:q] }, { :class => "export_link icon_link" }

.page_section.tabular_mdes_records
  - if @contact_links.empty?
    #no_records
      No contacts were found.
  - else
    .records_header
      .page_entries_info
        = raw page_entries_info @contact_links
    %table.records
      %thead
        %tr
          %th
            = sort_link @q, "contact_contact_type_code", "Type"
          %th
            = sort_link @q, "contact_contact_date_date", "Date"
          %th
            Time
          %th
            = sort_link @q, "person_last_name", "Person"
          - if recruitment_strategy.pbs?
            %th
              = sort_link @q, "provider_name_practice", "Provider"
          %th
            = sort_link @q, "contact_contact_disposition", "Contact Disp"
          %th
            = sort_link @q, "event_event_type_code", "Event"
          %th
            Current Staff
      %tbody
        - @contact_links.each do |cl|
          %tr{ :class => cycle('even_record', 'odd_record') }
            %td
              = cl.contact.contact_type
            %td
              = link_to cl.contact.contact_date_date, edit_contact_link_contact_path(cl, cl.contact), :class => "edit_link icon_link"
            %td
              = "#{cl.contact.contact_start_time}-#{blank_safe(cl.contact.contact_end_time)}"
            %td
              - if cl.person.blank?
                = blank_safe(cl.person, "N/A")
              - elsif cl.person.participant?
                = link_to blank_safe(cl.person.to_s), participant_path(cl.person.participant), :class => 'edit_link icon_link'
              - else
                = blank_safe(cl.person.to_s)
            - if recruitment_strategy.pbs?
              %td
                = cl.provider
            %td
              = cl.contact_disposition
            %td
              - if cl.event
                = cl.event.event_type
            %td
              = staff_name(cl.staff_id)
  = will_paginate @contact_links
