%h3
  = @person
  
%h3
  Consent
- no_consent = true
- if activities = psc.activities_for_event(@person.participant)
  - activities.each do |activity|
    - if activity.include?("Consent")
      - no_consent = false
      - if @person.participant.consented?
        = activity
      - else
        = link_to activity, new_participant_consent_path(:participant_id => @person.participant.id, :contact_link_id => @contact_link.id), :class => "edit_link icon_link"
    %br
- if no_consent
  - if !@person.participant.consented?
    %p
      = link_to "Consent", new_participant_consent_path(:participant_id => @person.participant.id, :contact_link_id => @contact_link.id), :class => "edit_link icon_link"
  - else
    %p
      No consent required
  
- @person.upcoming_events.each do |event|
  %h3 
    = "Instruments for #{event}"
  - InstrumentEventMap.instruments_for(event).each do |ins|
    - if survey = Survey.most_recent_for_title(ins)
      = link_to "#{ins}", start_instrument_person_path(@person, :survey_access_code => survey.access_code, :contact_link_id => @contact_link.id), :class => "edit_link icon_link"
    - else
      = "#{ins}"
    %br
    
.close_consent
  %h3
    Contact Record
  = link_to "Close Contact", edit_contact_link_path(@contact_link.id, :close_contact => true), :class => "edit_link icon_link"