- page_title "Select Instrument to Administer"

%h3
  = link_to @person.to_s, person_path(@person), :class => "header_link"

.page_section
  %h3
    = "Instruments and Activities for the #{@event} Event"

  = render 'instruments_for_upcoming_events', :initial_instrument_for_contact => true

- unless @event.consent_event?
  .page_section
    %h3
      Non-Interview Report
    .instructional_note
      In cases where you attempt to make contact with a person and you are unable to administer an instrument,
      %br
      choose the 'Create Non-Interview Report' link to first fill out a report before completing the Contact record.
    = link_to "Create Non-Interview Report", new_non_interview_report_path(:contact_link_id => @contact_link.id),
      :class => "add_link icon_link"

.page_section
  %h3
    Close Contact
  .instructional_note
    When you simply would like to complete data entry for the Contact record
    %br
    (e.g. calling Participant to schedule a time to meet)
  = link_to "Close Contact",
    edit_contact_link_contact_path(@contact_link, @contact_link.contact),
    :class => "close_link icon_link"