%h3
  = @person
  
- @person.upcoming_events.each do |event|
  %h3 
    = "Instruments for #{event}"
  - InstrumentEventMap.instruments_for(event).each do |ins|
    - if Survey.where(:title => ins).count > 0
      = link_to "#{ins}", start_instrument_person_path(@person, :survey_access_code => Survey.to_normalized_string(ins), :contact_link_id => @contact_link.id)
    - else
      = "#{ins}"
    %br
  
  // TODO: remove Pregnancy Screener check
  - if event.include?("Pregnancy Screener") && @participant
    .developer_note
      (The Pregnancy Screener Instrument will assign/update the Pregnancy Probability Group - in the interim use the following link)
    = link_to "Assign to Pregnancy Probability Group", edit_ppg_status_participant_path(@participant)