%h3
  = @person
  
%h3
  Consent
- no_consent = true
- if activities = psc.activities_for_event(@person.participant)
  - activities.each do |activity|
    - if activity.include?("Consent")
      - no_consent = false
      - if @person.participant.consented?
        = activity
      - else
        = link_to activity, new_participant_consent_path(:participant_id => @person.participant.id, :contact_link_id => @contact_link.id), :class => "edit_link icon_link"
    %br
- if no_consent
  - if !@person.participant.consented?
    %p
      = link_to "Consent", new_participant_consent_path(:participant_id => @person.participant.id, :contact_link_id => @contact_link.id), :class => "edit_link icon_link"
  - else
    %p
      No consent required
  
= render 'instruments_for_upcoming_events'
    
.close_consent
  %h3
    Contact Record
  = link_to "Close Contact", edit_contact_link_path(@contact_link.id, :close_contact => true), :class => "edit_link icon_link"