- page_title "Select Instrument to Administer"

%h3
  = @person

.page_section
  %h3
    = "Instruments and Activities for the #{@event} Event"

  = render 'instruments_for_upcoming_events', :initial_instrument_for_contact => true

.page_section
  %h3
    Close Contact
  .instructional_note
    When you simply would like to complete data entry for the Contact record
    %br
    (e.g. calling Participant to schedule a time to meet)
  = link_to "Close Contact",
    edit_contact_link_contact_path(@contact_link, @contact_link.contact),
    :class => "close_link icon_link"