.page_section
  .psc_registration
  - if recruitment_strategy.pbs? && @participant.ineligible?
    CANDIDATE DETERMINED INELIGIBLE.
  - elsif @participant.withdrawn?
    .important
      Participant has withdrawn from the study
  - else
    - pending_event = @participant.pending_events.first
    - activities_for_event = []
    - activities_for_event = @participant_activity_plan.scheduled_activities_for_event(pending_event) if pending_event
    = render "/people/schedule_or_perform_event", :participant => @participant, :person => @person, :pending_event => pending_event, :activities_for_event => activities_for_event
    .schedule
      - if @participant_activity_plan && pending_event
        %b
          Activities for Pending Events
        .activities
          - activities_for_event.each do |a|
            .activity
              %span{ :class => "scheduled_date" }
                = a.date
              %span{ :class => "scheduled_time" }
                = a.activity_time
              %span{ :title => a.current_state, :class => "#{a.current_state}_link" }
                &nbsp;
              = a.activity_name
      - else
        Subject does not have a schedule matching pending events

    - if should_show_informed_consent_scheduling_form?(@participant)
      = render "/participants/schedule_informed_consent"
