.page_section
  %p
    - if recruitment_strategy.two_tier_knowledgable?
      = @participant.high_intensity? ? "High Intensity Participant" : "Low Intensity Participant"
      %b
        = "::"
    = @participant.ppg_status
    - if @participant.ppg_status.blank? && !@participant.ineligible?
      %span.warning
        No PPG Assigned

  - if @participant.known_to_be_pregnant?
    %p
      %b
        Due Date:
      = blank_safe(@participant.due_date, "Unknown")
      - unless @participant.ppg_details.blank?
        = link_to "Edit Due Date",
          edit_participant_ppg_detail_path(@participant.id, @participant.ppg_details.first.id),
          :class => "edit_link icon_link"

  - if @participant.person
    %p
      %b
        Person ID:
      = @participant.person.public_id
      = link_to "Edit Person Record", edit_person_path(@participant.person), :class => "edit_link icon_link"
  %p
    %b
      Participant ID:
    = @participant.public_id
    = link_to "Edit Participant Record", edit_participant_path(@participant), :class => "edit_link icon_link"
  %p
    %b
      Next Study Segment:
    - event = @participant.next_scheduled_event
    = event.nil? ? "Unknown" : "#{nil_safe(displayable_next_scheduled_event(event.event))} - #{nil_safe(event.date)}"
  %p
    %b
      Enrolled:
    = @participant.enrolled?
  %p
    %b
      Actively Being Followed:
    = @participant.being_followed
