- redirection = "#{request.path}?#{request.query_string}"
- if recruitment_strategy.two_tier_knowledgable?
  .page_section
    .arm
      - if permit?(Role::FIELD_STAFF, Role::STAFF_SUPERVISOR)
        %b
          Switch Protocol Arm
        .high_intensity_invitation
          = form_for(@participant, :url => update_arm_participant_path(@participant, :redirect_to => redirection)) do |f|
            = render "shared/full_error_messages", :object => f.object
            = f.hidden_field :high_intensity
            %p
              - if @participant.high_intensity?
                = f.submit switch_arm_message(@participant)
              - else
                = f.submit switch_arm_message(@participant), :confirm => "Please confirm that participant is eligible for High Intensity - (i.e. in TSU)"
- if permit?(Role::SYSTEM_ADMINISTRATOR, Role::USER_ADMINISTRATOR, Role::STAFF_SUPERVISOR)
  .page_section
    .enrollment
      - if @participant.being_followed?
        %b
          Remove from active follow-up
        %div
          = form_for(@participant, :url => remove_from_active_followup_participant_path(@participant, :redirect_to => redirection)) do |f|
            %p
              = label_tag :enrollment_status_comment, "Reason for marking Participant as not being actively followed:"
              %br
              = text_area_tag :enrollment_status_comment
            %p
              = f.submit "Mark Participant as not being actively followed", :confirm => "Are you certain?"
- if permit?(Role::SYSTEM_ADMINISTRATOR)
  .page_section
    .psc
      %b
        Reconcile Participant data with PSC
      %div
        = form_for(@participant, :url => update_psc_participant_path(@participant)) do |f|
          %p
            = f.submit "Reconcile Participant data with PSC", :confirm => "Are you certain?"