- redirection = "#{request.path}?#{request.query_string}"
- if recruitment_strategy.two_tier_knowledgable? && @participant.low_intensity?
  .page_section
    .arm
      - if permit?(Role::FIELD_STAFF, Role::STAFF_SUPERVISOR)
        %b
          Switch Protocol Arm
        .high_intensity_invitation
          = link_to "Switch Protocol Arm", switch_arm_participant_path(@participant), :class => "fix_link icon_link"
- if permit?(Role::SYSTEM_ADMINISTRATOR, Role::USER_ADMINISTRATOR, Role::STAFF_SUPERVISOR)
  .page_section
    .enrollment
      - if @participant.being_followed?
        %b
          Remove from active follow-up
        %div
          = form_for(@participant, :url => remove_from_active_followup_participant_path(@participant, :redirect_to => redirection)) do |f|
            %p
              = label_tag :enrollment_status_comment, "Reason for marking Participant as not being actively followed:"
              %br
              = text_area_tag :enrollment_status_comment
            %p
              = f.submit "Mark Participant as not being actively followed", :confirm => "Are you certain?"
- if permit?(Role::SYSTEM_ADMINISTRATOR)
  .page_section
    .psc
      %b
        Reconcile Participant data with PSC
      %div
        = form_for(@participant, :url => update_psc_participant_path(@participant)) do |f|
          %p
            = f.submit "Reconcile Participant data with PSC", :confirm => "Are you certain?"