%h3
  = @participant.person.to_s

.page_section
  #edit_person_link
    = link_to "Edit Person Record", edit_person_path(@participant.person), :class => "edit_link icon_link"
  = form_for(@participant, :html => {:autocomplete => "off"}) do |f|
    = render "shared/full_error_messages", :object => f.object

    = hidden_field_tag :person_id, @person_id

    = render "shared/ncs_code_select", { :f => f, :code => :psu_code, :label_text => "PSU", :default_value => @psu_code }

    = render "shared/ncs_code_select", { :f => f, :code => :p_type_code, :label_text => "Type", :other => :p_type_other }

    = render "shared/ncs_code_select", { :f => f, :code => :status_info_source_code, :label_text => "Status Info Source", :other => :status_info_source_other }

    = render "shared/ncs_code_select", { :f => f, :code => :status_info_mode_code, :label_text => "Status Info Mode", :other => :status_info_mode_other }

    %p
      = f.label :status_info_date, "Status Info Date"
      %br
      = f.text_field :status_info_date, :class => "datepicker"

    = render 'ppg_first', { :f => f }

    = render "shared/ncs_code_select", { :f => f, :code => :enroll_status_code, :label_text => "Enroll Status" }

    %p
      = f.label :enroll_date, "Enrolled Date"
      %br
      = f.text_field :enroll_date, :class => "datepicker"

    %p
      = f.check_box :being_followed
      = f.label :being_followed

    = render "shared/ncs_code_select", { :f => f, :code => :pid_entry_code, :label_text => "Entry Mechanism", :other => :pid_entry_other }

    = render "shared/ncs_code_select", { :f => f, :code => :pid_age_eligibility_code, :label_text => "Age Eligibility" }

    %p
      = f.label :ssu, "Secondary Sampling Unit (SSU)"
      %br
      = f.select(:ssu, DwellingUnit.ssus, { :include_blank => "-- Select SSU --" })

    %p
      = f.label :tsu, "Tertiary Sampling Unit (TSU)"
      %br
      = f.select(:tsu, DwellingUnit.tsus, { :include_blank => "-- Select TSU --" })

    %p
      = f.label :pid_comment, "Comment"
      %br
      = f.text_area :pid_comment

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'

:javascript
  // For the 'other' field
  // Check on pageload
  $(document).ready(function() {
    wire_up_select_other("#participant_p_type_code","#participant_p_type_other");
    wire_up_select_other("#participant_status_info_source_code","#participant_status_info_source_other");
    wire_up_select_other("#participant_status_info_mode_code","#participant_status_info_mode_other");
    wire_up_select_other("#participant_pid_entry_code","#participant_pid_entry_other");
  });
