.participant_header_information
  %span{:class => 'participant_name'}
    = link_to blank_safe(person.to_s), person_path(person), :class => "header_link"
  - if participant
    %span{:class => 'participant_data_point'}
      P_ID:
      = participant.p_id

  %span{:class => 'participant_data_point'}
    Language:
    = blank_safe_ncs_code(person.language)
  %span{:class => 'participant_data_point'}
    Date of Birth:
    = blank_safe(person.person_dob)
  - if participant
    %span{:class => 'participant_data_point'}
      SSU/TSU:
      = "#{blank_safe(participant.ssu)}/#{blank_safe(participant.tsu)}"
  = # TODO: Add Special Considerations here
= # TODO: If Mother participant -- links to chid(ren) participants.
= # If child, then link to primary caregivers?? (this is a placeholder for now until requirements confirmed with WROC)
