.page_section
  - if @person.instruments.blank?
    .survey
      No instrument records exist at this time.
  - else
    %table.records
      %tr
        %th
          Instrument Record
        %th
          Responses
      - @person.instruments.uniq.each do |instrument|
        %tr{ :class => cycle('even_record', 'odd_record') }
          %td
            - name = instrument.survey.try(:description).blank? ? instrument.instrument_type.to_s : instrument.survey.try(:description)
            = link_to name, edit_instrument_path(instrument), :class => "edit_link icon_link"
          %td
            - instrument.response_sets.each do |rs|
              .response_set
                = link_to "#{rs.survey.title}",
                  surveyor.view_my_survey_path(:survey_code => rs.survey.access_code, :response_set_code => rs.access_code),
                  :class => "show_link icon_link"
                = "(#{rs.participant.person})" if rs.participant

    - if permit?(Role::SYSTEM_ADMINISTRATOR, Role::USER_ADMINISTRATOR, Role::STAFF_SUPERVISOR)
      %p
        = link_to "Search for Responses by Data Export Identifier",
          responses_for_person_path(@person),
          :class => "search_link icon_link"
