.page_section
  %b
    PPG Status History
  - if @participant.ppg_status.blank?
    %p
      No ppg status exists at this time.
  - else
    %table.records
      %tr
        %th
          PPG Details
        %th
          Due Date
      - @participant.ppg_details.each do |ppg|
        %tr{ :class => cycle('even_record', 'odd_record') }
          %td
            = ppg.ppg_first
          %td
            = @participant.due_date

    %table.records
      %tr
        %th
          PPG Status Histories
        %th
          Date
      - @participant.ppg_status_histories.each do |ppg|
        %tr{ :class => cycle('even_record', 'odd_record') }
          %td
            = ppg.ppg_status
          %td
            = ppg.ppg_status_date
  %p
    = link_to "Update PPG Status", edit_ppg_status_participant_path(@participant), :class => "fix_link icon_link"
