.page_section
  .relationships
    %b
      Relationships
    - if participant.participant_person_links.blank?
      %p
        No relationships exist at this time.
    - else
      - participant.participant_person_links.each do |ppl|
        - person = ppl.person
        .relation
          .relation_type
            = ppl.relationship
          .person
            = link_to blank_safe(person.name), person_path(person), :class => "show_link icon_link"
            = link_to "Edit", edit_person_path(person, :participant_id => participant.id), :class => "edit_link icon_link"
        - if person.participant.try(:child_participant?)
          .consents
            - person.participant.participant_consents.each do |consent|
              = consent.description
          .link
            = form_for participant, :url => schedule_child_consent_birth_to_six_months_event_participant_path(participant) do |f|
              %b
                Date
              = text_field_tag :date, Date.today.to_s, :class => 'datepicker'
              - msg = "Are you certain you would like to schedule a Birth to 6 month consent event for #{person.name}?"
              = f.submit "Schedule Child Consent Birth to 6 Months", :disable_with => 'Scheduling Child Consent...', :confirm => msg



  .links
    = link_to 'New Person', new_person_path(:participant_id => @participant), :class => "add_link icon_link"
