.page_section

  %h3
    = @participant.person

  = form_for(@participant, :url => process_arm_switch_participant_path(@participant)) do |f|
    = render "shared/full_error_messages", :object => f.object

    = f.hidden_field :high_intensity

    %p
      = switch_arm_message(@participant)

    %p
      = f.submit "Switch Protocol Arm"
