- title "Participants"

.mdes_table_definition
  = render 'documentation/participant'

.page_section
  - if @participants.empty?
    #no_records
      No participants were found.
  - else
    .records_header
      .page_entries_info
        - model_name = (@participants.size == 1 ? "Participant" : "Participants")
        = raw page_entries_info @participants, {:model => model_name}
    %table.records
      %tr
        %th
          PSU
        %th
          First Name
        %th
          Last Name
        %th{ :colspan => "2" }

      - @participants.each do |participant|
        %tr{ :class => cycle('even_record', 'odd_record') }
          %td
            = participant.psu
          %td
            = participant.first_name
          %td
            = participant.last_name
          %td
            = link_to 'View', participant_path(participant), :class => "show_link icon_link"
          %td
            = link_to 'Edit', edit_participant_path(participant), :class => "edit_link icon_link"

  = will_paginate @participants