- page_title "Participants"

.page_section.search
  = search_form_for(@q, :html => {:autocomplete => "off"}) do |f|

    = f.hidden_field :participant_person_links_relationship_code_eq
    %p
      = f.label :participant_person_links_person_last_name_start, "Last Name starts with"
      = f.text_field :participant_person_links_person_last_name_start
    %p
      = f.label :participant_person_links_person_first_name_start, "First Name starts with"
      = f.text_field :participant_person_links_person_first_name_start
    %p
      = f.label :p_id_cont, "Participant ID"
      = f.text_field :p_id_cont
    %p
      = f.label :enroll_status_code_eq, "Enroll Status"
      = f.select(:enroll_status_code_eq, NcsCode.ncs_code_lookup(:enroll_status_code), { :include_blank => "-- Select Enroll Status --" })
    %p
      = f.label :being_followed_false, "Actively Being Followed"
      = f.check_box :being_followed_true
      = f.label :being_followed_false, "Not Followed"
      = f.check_box :being_followed_false
    %p
      = f.label :ppg_status_histories_ppg_status_code_eq, "PPG Status"
      = f.select(:ppg_status_histories_ppg_status_code_eq, NcsCode.ncs_code_lookup(:ppg_status_code), { :include_blank => "-- Select PPG Status --" })
    %p
      = f.label :ppg_details_ppg_first_code_eq, "PPG First"
      = f.select(:ppg_details_ppg_first_code_eq, NcsCode.ncs_code_lookup(:ppg_first_code), { :include_blank => "-- Select PPG First --" })
    - if recruitment_strategy.two_tier_knowledgable?
      %p
        = f.label :high_intensity_true, "High Intensity"
        = f.check_box :high_intensity_true
        = f.label :high_intensity_false, "Low Intensity"
        = f.check_box :high_intensity_false
    %p
      = f.submit "Search"
      = link_to "Export All Results", { :controller => "participants", :action => "index", :format => "csv", :q => params[:q] }, { :class => "export_link icon_link" }

.page_section
  - if @participants.empty?
    #no_records
      No participants were found.
  - else
    .records_header
      .page_entries_info
        - model_name = (@participants.size == 1 ? "Participant" : "Participants")
        = raw page_entries_info @participants, {:model => model_name}
    %table.records
      %tr
        %th
          PSU
        %th
          First Name
        %th
          Last Name
        %th
          = sort_link @q, "p_id", "Participant ID"
        %th
          Current PPG Status
        - if recruitment_strategy.pbs?
          %th
            Provider
        %th
          Enrolled
        %th{ :colspan => "3" }


      - @participants.each do |participant|
        %tr{ :class => cycle('even_record', 'odd_record') }
          %td
            = participant.psu
          %td
            = participant.first_name
          %td
            = participant.last_name
          %td
            = participant.p_id
          %td
            %span{ :title => participant.ppg_status.to_s }
              = "PPG #{participant.ppg_status.local_code}" unless participant.ppg_status.blank?
          - if recruitment_strategy.pbs?
            %td
              = participant.person.provider.name_practice unless participant.person.provider.blank?
          %td
            = participant.enroll_status
          %td
            = link_to 'View', participant_path(participant), :class => "show_link icon_link"
          %td
            = link_to 'Edit', edit_participant_path(participant), :class => "edit_link icon_link"
          %td
            = link_to 'Versions', versions_participant_path(participant), :class => "version_link icon_link"

  = will_paginate @participants
