- page_title "Participant"

= render "participants/header_information", :person => @person, :participant => @participant

#tabs
  %ul
    %li
      %a{ :href => "#activities_tab" }
        Upcoming Activities
    %li
      %a{ :href => "#events_and_contacts_tab"}
        Contact History
    %li
      %a{ :href => "#instruments_tab"}
        Instruments
    %li
      %a{ :href => "#contact_information_tab"}
        Contact Information
    %li
      %a{ :href => "#relationships_tab"}
        Relationships
    %li
      %a{ :href => "#participant_consents_tab" }
        Consents
    %li
      %a{ :href => "#patient_study_calendar_tab" }
        Participant Schedule
    %li
      %a{ :href => "#participant_status_history_tab" }
        Status History

  #activities_tab
    = render 'participants/activities'

  #events_and_contacts_tab
    = render 'people/events_and_contacts'

  #instruments_tab
    = render 'participants/instruments'

  #contact_information_tab
    = render 'people/contact_info'

  #relationships_tab
    = render 'participants/relationships', :participant => @participant

  #participant_consents_tab
    = render 'participants/participant_consents'

  #patient_study_calendar_tab
    = render 'participants/participant_psc'

  #participant_status_history_tab
    = render 'participants/details'
    = render 'participants/ppg_statuses'
    - if permit?(Role::SYSTEM_ADMINISTRATOR)
      = render 'participants/participant_state_transitions'
    - if permit?(Role::SYSTEM_ADMINISTRATOR, Role::USER_ADMINISTRATOR, Role::STAFF_SUPERVISOR)
      = render 'participants/enrollment'
