#surveyor
  - unless (types = flash.keys.select{|k| [:notice, :error, :warning].include?(k)}).blank?
    .surveyor_flash
      = flash_messages(types)
      .close
  = semantic_form_for(@response_set, :as => :r, :url => surveyor.update_my_survey_path, :html => {:method => :put, :id => "survey_form", :class => @survey.custom_class, :autocomplete => "off"}) do |f|

    = hidden_field_tag :surveyor_javascript_enabled, false

    = render '/surveyor/section_menu' # unless @sections.size < 3

    .survey_header
      - if @response_set.participant
        = "#{@response_set.survey.description} for #{@response_set.participant.person.to_s}"
      - else
        = "#{@response_set.survey.description} for #{@response_set.person.to_s}"
      .event
        = @event.to_s

    = render 'partials/dependents' unless @dependents.empty?
    - if false #@response_set.no_responses_for_section?(@section) # cache if response_set has no responses for current section
      = cache("section_#{@section.id}"){ render "/partials/section", :f => f }
    - else # no cache
      = render "/partials/section", :f => f
    .previous_section
      = previous_section
    .next_section
      = next_section
      %br
      = submit_tag(t('surveyor.breakoff').html_safe, :name => "breakoff") unless @sections.last == @section
  %br

:javascript
  $(document).ready(function() {
    $("input#surveyor_javascript_enabled").val(true);

    $("#survey_form input[type=submit]").click(function() {
      $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
      $(this).attr("clicked", "true");
    });


    $("#survey_form").submit(function(event) {
      var val = $("input[type=submit][clicked=true]").attr("name");
      if(val == "breakoff") {
        $('<input />').attr('type', 'hidden')
          .attr('name', "finish")
          .attr('value', true)
          .appendTo('#survey_form');

      }
    });
  });
