- default_value ||= nil
- other ||= nil
- date ||= nil
- help_text ||= nil
- notify_marker ||= nil
- html_attrs ||= { :class => "required" }
- model_class ||= nil

- html_attrs[:disabled] = "disabled" if code.to_s == "psu_code"
%p
  = f.label code, label_text
  - if notify_marker
    %span{ :class => "notification_icon" }
    .notification_tooltip
      = t('mdes.notification')
  - if help_text
    %span{ :class => "help_icon" }
    = render help_text
  - f.object.send("#{code}=", default_value) if default_value
  %p{ :class => 'ncs_select' }
    - ncs_code = NcsCode.ncs_code_lookup(code, :model_class => model_class)
    = f.select(code, ncs_code, { :include_blank => "-- Select #{label_text} --" }, html_attrs)
    - if other
      %p.other_field
        = f.label other, "#{label_text} (Other)"
        %br
        = f.text_field other
