.page_section
  - if @dwelling_unit.household_units.blank? && !@dwelling_unit.new_record?
    = form_for(@dwelling_unit, :url => create_household_unit_dwelling_unit_path(@dwelling_unit, :redirect_to => "#{request.path}?#{request.query_string}")) do |f|
      = render "shared/full_error_messages", :object => f.object
      = f.submit "Create Household Unit for all People at this Address", :confirm => "Are you certain?"

  = form_for(@dwelling_unit, :html => {:autocomplete => "off"}) do |f|
    = render "shared/custom_error_messages", :object => f.object

    = render "shared/ncs_code_select", { :f => f, :code => :psu_code, :label_text => "PSU", :default_value => @psu_code }

    = render "shared/ncs_code_select", { :f => f, :code => :duplicate_du_code, :label_text => "Duplicate Address" }

    = render "shared/ncs_code_select", { :f => f, :code => :missed_du_code, :label_text => "Missed" }

    = render "shared/ncs_code_select", { :f => f, :code => :du_type_code, :label_text => "Type of Residence", :other => :du_type_other }

    = render "shared/ncs_code_select", { :f => f, :code => :du_ineligible_code, :label_text => "Ineligible" }

    = render "shared/ncs_code_select", { :f => f, :code => :du_access_code, :label_text => "Access is restricted" }

    %p
      %b
        Secondary Sampling Unit (SSU)
      %br
      = f.select(:ssu_id, DwellingUnit.ssus, { :include_blank => "-- Select SSU --" })
    %p
      %b
        Tertiary Sampling Unit (TSU)
      %br
      = f.select(:tsu_id, DwellingUnit.tsus, { :include_blank => "-- Select TSU --" })

    .nested_attributes
      %h3
        Address
      = f.fields_for :address do |address_form|
        %p
          = address_form.label :address_one, "Address One"
          %br
          = address_form.text_field :address_one
        %p
          = address_form.label :address_two, "Address Two"
          %br
          = address_form.text_field :address_two
        %p
          = address_form.label :city, "City"
          %br
          = address_form.text_field :city
        = render "shared/ncs_state_select", { :f => address_form, :code => :state_code, :label_text => "State" }
        %p
          = address_form.label :zip, "Zip Code"
          %br
          = address_form.text_field :zip
          &mdash;
          = address_form.text_field :zip4

    %p
      = f.label :duid_comment, "Comment"
      %br
      = f.text_area :duid_comment

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'

.links
  = link_to "All Dwelling Units", dwelling_units_path, :class => "list_link icon_link"

:javascript
  // For the 'other' field
  // Check on pageload
  $(document).ready(function() {
    wire_up_select_other("#dwelling_unit_du_type_code","#dwelling_unit_du_type_other");
  });