- page_title "Frequently Asked Questions"

.page_section
  .people
    %h3
      People
    %p
      %b
        What is the difference between a person and a participant?
      %br
      A Person is an individual who may provide information on a participant.
      All individuals contacted are Persons, including those who may also be Participants.
      %br
      A Participant is a living Person who has provided Study data about her/himself or a NCS Child.
      S/he may have been administered a variety of questionnaires or assessments, including household enumeration,
      pregnancy screener, pregnancy questionnaire, etc. Once born, NCS-eligible babies are assigned Participant IDs.
      Every Participant is also a Person.
    %p
      %b
        How do I find a person?
      %br
      Go to the
      = link_to "People Index", people_path
      page and enter search criteria in the form.
    %p
      %b
        How do I find a participant?
      %br
      Go to the
      = link_to "Participant Index", participants_path
      page and enter search criteria in the form.

  .terminology
    %h3
      Events and Activities
    %p
      %b
        What's the difference between an Activity and an Event?
      %br
      An Activity is a scheduled item in Patient Study Calendar (PSC) and is something to be performed
      at the next Contact with the Participant. Consider this a checklist of items during a scheduled interaction
      between the Study Center Staff and the Participant.
      %br
      An Event is an MDES record that denotes the type or context of a Contact with a Participant. The Event may
      have many Activities scheduled to be performed during a Contact. For instance, a Pregnancy Visit 1 Event will
      have the Pregnancy Visit 1 Interview, Pregnant Woman Informed Consent, Biological and Environmental Instrument
      Activities scheduled for that Event.

  .workflow
    %h3
      Workflow
    %p
      %b
        How do I start a contact?
      %br
      First, find the person you are attempting to contact either via the
      = link_to "people index page", people_path
      or the
      = link_to "scheduled activities page", root_path
      or the
      = link_to "overdue activities page.", :controller => "welcome", :action => "overdue_activities"

      Then, navigate to that person's page.
      Finally, on the Participant Calendar tab of that page (the first tab) there will be a link to either create a
      %i
        New Contact for Pending Event
      or to
      %i
        Perform Next Event.
    - if recruitment_strategy.two_tier_knowledgable?
      %p
        %b
          How do I move from a participant from Low to High Intensity?
        %br
        Users who are allowed to move a participant between arms will be shown a button on the Participant page
        with the text "Invite [PARTICIPANT] to join High Intensity Arm". Clicking this button will cancel all
        pending low intensity events for the participant and schedule the participant for the Low to High Conversion
        event.
        %br
        Conversely, when a participant is in the High Intensity Arm, a button will appear with the text
        "Move [PARTICIPANT] from High Intensity to Low Intensity". This action cancels all pending high intensity
        events and schedules the participant for the next low intensity event for the participant.

  .instruments
    %h3
      Instruments
    %p
      %b
        How to I exit an Instrument?
      %br
      Navigate to the final section of the Instrument (the last item in the sections menu) and click
      %i
        Click here to finish.
