%h2
  Welcome to the NCS Navigator.
    
- if @scheduled_activities
  .front_page_section
    - rows = @scheduled_activities['rows']
    - if rows.blank?
      %h4
        No Activities Scheduled
    - else
      %h4
        Scheduled Activities
      .column-container
        - rows.each do |row|
          - if row['subject']
            %p
              = row['scheduled_date']
              - if person = Person.find_by_person_id(row['subject']['person_id'])
                = link_to row['subject']['name'], person_path(person), :class => "show_link icon_link"
              - else
                = row['subject']['name']
              = row['activity_name']
.front_page_section
  .column-container
    = link_to "Administer New Pregnancy Screener", start_pregnancy_screener_instrument_path, :class => "add_link icon_link"
