- page_title "Welcome"

#tabs
  %ul
    %li
      %a{ :href => "#scheduled_events_tab"}
        Scheduled Events
    %li
      %a{ :href => "#actions_tab"}
        Actions

  #scheduled_events_tab
    - if !@events.blank?
      .front_page_section.page_section
        %h4
          = "From #{@start_date} to #{@end_date}"
        - @events.keys.sort.each do |date|
          .events_for_date
            %b
              = date
            - place_activities_with_blank_times_at_the_bottom_of_list(@events[date]).each do |e|
              .event_participant
                %span.activity_time
                  = convert_24_hour_time_to_am_pm_time(e.activity_time) if e.activity_time
                %span.participant_link
                  - path = e.person.participant? ? participant_path(e.person.participant) : person_path(e.person)
                  = link_to e.person.to_s, path, :class => "show_link icon_link"
                %span.ppg_status
                  = "PPG #{e.person.participant.ppg_status.local_code}" if e.person.participant && !e.person.participant.ppg_status.blank?
                %span.event_type
                  = e.event_type
    - else
      .front_page_section.page_section
        No Scheduled Events

  #actions_tab
    .front_page_section.page_section
      .column-container
        .column-1
          - if recruitment_strategy.pbs?
            .provider_recruitment
              %h4
                Provider Recruitment
              %ul
                - if permit?(Role::SYSTEM_ADMINISTRATOR)
                  %li
                    = link_to "Upload PBS List", upload_pbs_lists_path, :class => "import_link icon_link"
                %li
                  = link_to "Provider List", pbs_lists_path, :class => "list_link icon_link"
          - else
            .participants
              %h4
                Administer Instruments
              %ul
                %li
                  = link_to "New Pregnancy Screener", start_pregnancy_screener_instrument_path, :class => "add_link icon_link"
          .reports
            %h4
              Reports
            - if recruitment_strategy.pbs?
              %ul
                %li
                  = link_to "Case Status Report", {:controller => "reports", :action => "case_status"}, :class => "report_link icon_link"
            - else
              %ul
                %li
                  = link_to "Case Status Report", {:controller => "reports", :action => "case_status"}, :class => "report_link icon_link"
                %li
                  = link_to "Upcoming Birth Report", {:controller => "reports", :action => "upcoming_births"}, :class => "report_link icon_link"
                %li
                  = link_to "Consented Participants", {:controller => "reports", :action => "number_of_consents_by_type"}, :class => "report_link icon_link"
                %li
                  = link_to "Field Activity Report", fieldwork_index_path, :class => "report_link icon_link"
        .column-2
          %h4
            Searching
          .model_search
            %ul
              %li
                = link_to "People", people_path, :class => "search_link icon_link"
              %li
                = link_to "Participants", participants_path, :class => "search_link icon_link"
              %li
                = link_to "Providers", providers_path, :class => "search_link icon_link"
              %li
                = link_to "Contacts", contact_links_path, :class => "search_link icon_link"
              %li
                = link_to "Events", events_path, :class => "search_link icon_link"
              - if permit?(Role::SYSTEM_ADMINISTRATOR, Role::USER_ADMINISTRATOR, Role::STAFF_SUPERVISOR) && !recruitment_strategy.pbs?
                %li
                  = link_to "Dwelling Units", dwelling_units_path, :class => "list_link icon_link"
                %li
                  = link_to "Household Units", household_units_path, :class => "list_link icon_link"
        .column-3
          - if permit?(Role::SYSTEM_ADMINISTRATOR, Role::USER_ADMINISTRATOR, Role::STAFF_SUPERVISOR)
            %h4
              Activities
            .activities
              %ul
                %li
                  = link_to "Upcoming Activities", {:controller => "welcome", :action => "upcoming_activities"}, :class => "list_link icon_link"
                %li
                  = link_to "Overdue Activities", {:controller => "welcome", :action => "overdue_activities"}, :class => "list_link icon_link"
          %h4
            Events
          .events
            %ul
              %li
                = link_to "Pending Events", {:controller => "welcome", :action => "pending_events"}, :class => "list_link icon_link"
          - if NcsNavigatorCore.with_specimens? && permit?(Role::SPECIMEN_PROCESSOR)
            %h4
              Samples/Specimens
            .samples_specimens
              %ul
                %li
                  = link_to "Samples/Specimens", sample_processes_path, :class => "list_link icon_link"
                %li
                  = link_to "Edit Samples/Specimens", edit_sample_processes_path, :class => "edit_link icon_link"
