- title = "Welcome"

#tabs
  %ul
    %li
      %a{ :href => "#scheduled_activities_tab"}
        Scheduled Activities
    %li
      %a{ :href => "#actions_tab"}
        Actions

  #scheduled_activities_tab
    - if @events
      .front_page_section.page_section
        %h4
          = "From #{@start_date} to #{@end_date}"
        - @events.keys.sort.each do |date|
          .events_for_date
            %b
              = date
            - @events[date].each do |e|
              .event_participant
                %span.participant_link
                  = link_to e.participant.person.to_s, participant_path(e.participant), :class => "show_link icon_link"
                %span.ppg_status
                  = "PPG #{e.participant.ppg_status.local_code}" unless e.participant.ppg_status.blank?
                %span.event_type
                  = e.event_type.to_s
    - else
      .front_page_section.page_section
        No Scheduled Activities
  #actions_tab
    .front_page_section.page_section
      .column-container
        .column-1
          .participants
            %h4
              Administer Instruments
            = link_to "New Pregnancy Screener", start_pregnancy_screener_instrument_path, :class => "add_link icon_link"
          .reports
            %h4
              Reports
            = link_to "Case Status Report", {:controller => "reports", :action => "case_status"}, :class => "report_link icon_link"
        .column-2
          %h4
            Searching
          .model_search
            %ul
              %li
                = link_to "People", people_path, :class => "list_link icon_link"
              %li
                = link_to "Participants", participants_path, :class => "list_link icon_link"
              %li
                = link_to "Contacts", contact_links_path, :class => "list_link icon_link"
              %li
                = link_to "Events", events_path, :class => "list_link icon_link"
              %li
                = link_to "Dwelling Units", dwelling_units_path, :class => "list_link icon_link"
              %li
                = link_to "Household Units", household_units_path, :class => "list_link icon_link"
        .column-3
          %h4
            Activities
          .activities
            %ul
              %li
                = link_to "Upcoming Activities", {:controller => "welcome", :action => "upcoming_activities"}, :class => "list_link icon_link"
              %li
                = link_to "Overdue Activities", {:controller => "welcome", :action => "overdue_activities"}, :class => "list_link icon_link"