- page_title "Pending Events"

.page_section
  - if @pending_events
    .records_header
      .page_entries_info
        = raw page_entries_info @pending_events
    %table.records
      %tr
        %th Participant
        %th Event
        %th Date
      - @pending_events.each do |event|
        %tr{ :class => cycle('even_record', 'odd_record') }
          %td
            - if event.participant
              = link_to blank_safe(display_participant(event.participant)),
                        participant_path(event.participant),
                        :class => "show_link icon_link"
            - else
              N/A
          %td
            = event
          %td
            = blank_safe(event.event_start_date)
  - else
    .no_records
      As unlikely as it may seem, there are no pending events currently in the database.

  = will_paginate @pending_events
