.column-container

  = hidden_field_tag :contact_link_id, @contact_link.id if @contact_link

  = render "shared/ncs_code_select", { :f => f, :code => :event_type_code, :label_text => "Event Type", :other => :event_type_other, :help_text => "events/event_event_type_tooltip", :html_attrs => { :disabled => 'disabled' } }

  = render "shared/ncs_code_select", { :f => f, :code => :event_disposition_category_code, :label_text => "Disposition Category", :html_attrs => { :class => 'not_required' }, :include_missing_in_error => true }
  = render "shared/disposition_code", { :f => f, :code => :event_disposition, :notify_marker => true, :html_attrs => { :class => 'not_required important_field' } }

  = render "shared/ncs_code_select", { :f => f, :code => :event_breakoff_code, :label_text => "Breakoff", :help_text => "events/event_breakoff_tooltip", :html_attrs => { :class => 'not_required' }, :include_missing_in_error => true }

  %p
    = f.label :event_repeat_key, "Repeat Key"
    %span{ :class => "help_icon" }
    = render "events/event_repeat_key_tooltip"
  %p
    = f.text_field :event_repeat_key

  %p
    = f.label :event_start_date, "Event Start Date"
    %br
    = f.text_field :event_start_date, :class => "datepicker"

  %p
    = f.label :event_start_time, "Event Start Time"
    %br
    = f.text_field :event_start_time, :class => "timepicker"

  %p
    %a{ :href => "javascript:void(0);", :class => "toggle_enable_link icon_link", :id => "enable_event_date_attributes" }
      Enable Event End Date and Time fields in order to close Event
    %a{ :href => "javascript:void(0);", :class => "toggle_disable_link icon_link", :id => "disable_event_date_attributes" }
      Disable Event End Date and Time fields
    %br
    = f.label :event_end_date, "Event End Date", :class => "important_field"
    %span{ :class => "notification_icon" }
    = render "events/event_end_date_tooltip"
  %p
    = f.text_field :event_end_date, :class => "datepicker important_field", :disabled => true

  %p
    = f.label :event_end_time, "Event End Time"
    %br
    = f.text_field :event_end_time, :class => "timepicker", :disabled => true

  = render "shared/ncs_code_select", { :f => f, :code => :event_incentive_type_code, :label_text => "Incentive Type", :help_text => "events/event_incentive_type_tooltip", :html_attrs => { :class => 'not_required' }, :include_missing_in_error => true }

  %p
    = f.label :event_incentive_cash, "Incentive (Cash)"
    %span{ :class => "help_icon" }
    = render "events/event_incentive_cash_tooltip"
  %p
    = f.text_field :event_incentive_cash

  %p
    = f.label :event_incentive_noncash, "Incentive (Non-Cash)"
    %span{ :class => "help_icon" }
    = render "events/event_incentive_noncash_tooltip"
  %p
    = f.text_field :event_incentive_noncash

  %p
    = f.label :event_comment, "Comment"
    %br
    = f.text_area :event_comment

:javascript
  $(document).ready(function() {
    wire_up_select_other("#event_event_type_code","#event_event_type_other");
  });
