- title "Edit Event"

.mdes_table_definition
  = render 'documentation/event'

%h3
  - if @event.participant && @event.participant.person
    = link_to @event.participant.person.to_s, participant_path(@event.participant), :class => "header_link"
  - else
    Event has no associated participant.
  = " :: "
  = @event.event_type.display_text

.page_section
  = form_for(@event, :html => {:autocomplete => "off"}) do |f|
    = render "shared/custom_error_messages", :object => f.object

    = render "/events/form_fields", :f => f

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'
