- page_title @close ? "Close Event" : "Edit Event"

- participant = @event.participant
- person = participant.try(:person)

%h3
  - if participant && person
    = link_to person.to_s, participant_path(participant), :class => "header_link"
  - else
    Event has no associated participant.
  = " :: "
  = @event.event_type.display_text

.page_section
  = form_for(@event, :html => {:autocomplete => "off"}) do |f|
    = render "shared/custom_error_messages", :object => f.object

    - if @close
      = render "/events/close_event_form_fields", :f => f
    - else
      = render "/events/form_fields", :f => f

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'
      - if show_continue_action(person, @contact_link, @event, participant)
        %p
          = "- OR -"
        %p
          = "Continue onto the next Event during the same Contact."
          %br
          = f.submit "Continue", :confirm => "Are you sure you would like to continue to the next Event during this Contact?\n\nWill you perform at least one activity for the next Event.\n\nHave you closed this event? (i.e. set the event end date)\nIf the event end date is not set you will not be able to continue."
