- title @close ? "Close Event" : "Edit Event"

- person = @event.participant.person

%h3
  - if @event.participant && person
    = link_to person.to_s, participant_path(@event.participant), :class => "header_link"
  - else
    Event has no associated participant.
  = " :: "
  = @event.event_type.display_text

.page_section
  = form_for(@event, :html => {:autocomplete => "off"}) do |f|
    = render "shared/custom_error_messages", :object => f.object

    - if @close
      = render "/events/close_event_form_fields", :f => f
    - else
      = render "/events/form_fields", :f => f

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'
      - if person && @contact_link && continuable?(@event)
        %p
          = "- OR -"
        %p
          = "Continue onto #{upcoming_events_for(person)}"
          %br
          = f.submit "Continue", :confirm => "Are you sure you would like to continue to #{upcoming_events_for(person)}?"