= form_for @specimen_storage do |f|
  = "Storage Container ID:"
  = @specimen_storage.specimen_storage_container.storage_container_id
  = "contains the following:"
  - @specimen_storage.specimen_storage_container.specimen_receipts.each do |val|
    = val.specimen.specimen_id
  = f.hidden_field :specimen_storage_container_id
  %div{:class => "spec_sample_receipt"}  
    %br
    = "Staff:"
    = display_staff_info
    %br
    - if not f.object.placed_in_storage_datetime.blank?
      = "Placed in Storage Date and Time: "
      = f.object.placed_in_storage_datetime
      %br
    = "Master Storage Unit: "
    = NcsCode.for_attribute_name_and_local_code(:master_storage_unit_code, @specimen_storage.master_storage_unit_code)  
    %br
    - if not f.object.master_storage_unit_id.blank?
      = "Master Storage Unit Id:"
      = f.object.master_storage_unit_id
      %br
    - if not f.object.storage_comment.blank?
      = "Storage Comment: "
      = f.object.storage_comment
      %br
    - if not f.object.storage_comment_other.blank?
      = "Storage Comment Other: "
      = f.object.storage_comment_other
      %br
    - if not f.object.temp_event_starttime.blank?
      = "Temperature event Start Time: "
      = f.object.temp_event_starttime
      %br
    - if not f.object.temp_event_endtime.blank?
      = "Temperature event End Time: "
      = f.object.temp_event_endtime
      %br
    - if not f.object.temp_event_low_temp.blank?
      = "Temperature event - Low Temperature"
      = f.object.temp_event_low_temp
      %br
    - if not f.object.temp_event_high_temp.blank?
      = "Temperature event - High Temperature"
      = f.object.temp_event_high_temp
    %br
  = link_to 'Edit', edit_specimen_storage_path(:id => @specimen_storage, :in_edit_mode => @in_edit_mode), :class => "edit_link icon_link specimen_storage_edit"
  - unless @in_edit_mode
    %input{:type=>"button", :class => "exit_and_refresh", :value =>"Exit"}  
