%h3#appointment-sheet APPOINTMENT SHEET

.column-container
  .column-one
    .large-and-bolded
      = "#{@sheet.event_type}"
    = "Data Collector: #{current_user.first_name} #{current_user.last_name}"
    #event-date-and-time
      = @event_date + " " + @event_time
    #address
      = @sheet.address.address_one
      - if @sheet.address.address_two
        %br
      = @sheet.address.address_two
      %br
      = "#{@sheet.address.city}, #{@sheet.address.state.to_s.downcase.capitalize} #{@sheet.address.zip_code}"
    #phone
      = "Cell #{@sheet.cell_phone}"
      %br
      = "Home #{@sheet.home_phone}"

  .column-two
    Participant:
    %span.large-and-bolded
      #{@sheet.participant_full_name}
    = @sheet.participant_public_id
    #language
      ="Speaks: #{@sheet.participant_language}"
    Consents:
    - @sheet.mothers_consents.uniq.each do |consent|
      #consents
        = consent
    #children
    - @sheet.children.each_index do |child_index|
      Child:
      %span.large-and-bolded
        #{@sheet.child_names[child_index]}
      #sex
        #{@sheet.child_sexes[child_index]}
      #ages
        = "#{@sheet.child_ages[child_index]} old"
      Consents:
      - @sheet.child_consents[child_index].uniq.each do |consent|
        #consents
          = consent

- pending_event = @participant.pending_events.first
- activities_for_event = []
- activities_for_event = @participant_activity_plan.scheduled_activities_for_event(pending_event) if pending_event
#instrument-list
  - if @participant_activity_plan && pending_event
    %span.large-and-bolded
      To be conducted:
    .activities
      - activities_for_event.each do |a|
        .activity
          %span{ :title => a.current_state}
            &nbsp;
          = a.activity_name
  - else
    %span.large-and-bolded
      Subject does not have a schedule matching pending events
#next-event
  Next Event:
  %span.large-and-bolded
    #{@sheet.next_event}
