.page_section
  = form_for([person, contact], :html => {:autocomplete => "off"}) do |f|
    = hidden_field_tag :event_id, event.id

    = render "shared/custom_error_messages", :object => f.object

    = render "contacts/form_fields_with_event", :f => f

    %p
      = f.submit "Start Contact", :disable_with => 'Submitting...'
