.column-container
  = f.hidden_field :psu_code
  - if @event
    = hidden_field_tag :event_type_id, @event.event_type.id
    = hidden_field_tag :event_id, @event_id if @event_id
  = hidden_field_tag :contact_link_id, @contact_link.id if @contact_link
  = hidden_field_tag :next_event, params[:next_event]

  %p
    = label_tag "When did this contact happen?"
    %br
    = f.label :contact_date_date, "Date"
    = f.text_field :contact_date_date, :class => "required datepicker"

  %p
    - if @staff_list.blank?
      Could not load staff list. Using logged in staff member as person who made contact.
    - else
      %span{ :class => "date_label" }
        = label_tag :staff_id, "Who Made Contact?"
      - selected = @contact_link.try(:staff_id) || @current_staff_id
      = select_tag :staff_id, options_for_select(@staff_list, :selected => selected), :class => "required"

  %p
    = f.label :contact_start_time, "Start Time"
    = f.text_field :contact_start_time, :class => "timepicker"

  - unless f.object.new_record?
    %p
      = f.label :contact_end_time, "End Time"
      = f.text_field :contact_end_time, :class => "timepicker"

  = render "shared/ncs_code_select", { :f => f, :code => :who_contacted_code, :label_text => "How does the contacted person relate to the NCS?", :other => :who_contacted_other, :help_text => "contacts/contact_who_contacted_tooltip" }

  = render "shared/ncs_code_select", { :f => f, :code => :contact_type_code, :label_text => "How did you contact them?", :other => :contact_type_other }

  - unless f.object.new_record?

    = render "shared/ncs_code_select", { :f => f, :code => :contact_location_code, :label_text => "Location", :other => :contact_location_other }
    = render "shared/ncs_code_select", { :f => f, :code => :contact_private_code, :label_text => "Were there Privacy Issues?", :help_text => "contacts/contact_private_tooltip" }

    %p
      = f.label :contact_private_detail, "Privacy Issues Detail"
      %span{ :class => "help_icon" }
      = render "contacts/contact_private_detail_tooltip"
    %p
      = f.text_field :contact_private_detail

    %p
      = f.label :contact_distance, "Distance (format xx.x)"
      %br
      = f.text_field :contact_distance

  - unless f.object.new_record?
    = render "shared/disposition_code", { :f => f, :code => :contact_disposition }

    = render "shared/ncs_code_select", { :f => f, :code => :contact_language_code, :label_text => "Language", :other => :contact_language_other }
    = render "shared/ncs_code_select", { :f => f, :code => :contact_interpret_code, :label_text => "Interpret", :other => :contact_interpret_other, :help_text => "contacts/contact_interpret_tooltip" }

  %p
    = f.label :contact_comment, "Optional Comments"
    %br
    = f.text_area :contact_comment

:javascript
  $(document).ready(function() {
    wire_up_select_other("#contact_contact_type_code","#contact_contact_type_other");
    wire_up_select_other("#contact_contact_language_code","#contact_contact_language_other");
    wire_up_select_other("#contact_contact_interpret_code","#contact_contact_interpret_other");
    wire_up_select_other("#contact_contact_location_code","#contact_contact_location_other");
    wire_up_select_other("#contact_who_contacted_code","#contact_who_contacted_other");
  });
