- page_title "Edit Contact"

%h3
  = link_to @person.to_s, person_path(@person), :class => "header_link"
  - if @event
    = "::"
    = @event.event_type.display_text

.page_section
  = form_for([@person, @contact], :html => {:autocomplete => "off"}) do |f|
    - if @event
      = hidden_field_tag :event_id, @event.id

    = render "shared/custom_error_messages", :object => f.object

    - if @event.nil?
      = render "contacts/form_fields_without_event", :f => f
    - else
      = render "contacts/form_fields_with_event", :f => f

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'
