%h3
  = @person

%h3
  = @event.event_type.display_text
    
.page_section
  = form_for([@person, @contact]) do |f| 
    = hidden_field_tag :event_id, @event.id

    = render "shared/custom_error_messages", :object => f.object

    = render "contacts/form_fields", :f => f

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'

:javascript
  // For the 'other' field
  // Check on pageload
  $(document).ready(function() {
    $(".datepicker").datepicker();

    wire_up_select_other("#contact_contact_type_code","#contact_contact_type_other");
    wire_up_select_other("#contact_contact_language_code","#contact_contact_language_other");
    wire_up_select_other("#contact_contact_interpret_code","#contact_contact_interpret_other");
    wire_up_select_other("#contact_contact_location_code","#contact_contact_location_other");
    wire_up_select_other("#contact_who_contacted_code","#contact_who_contacted_other");
  });