%h3
  = @person

%h3
  = @event.event_type.display_text
  
- @person.upcoming_events.each do |event|
  %h3 
    = "Instruments for #{event}"
  - InstrumentEventMap.instruments_for(event).each do |ins|
    - if Survey.where(:title => ins).count > 0
      = link_to "#{ins}", start_instrument_person_path(@person, :survey_access_code => Survey.to_normalized_string(ins))
    - else
      = "#{ins}"
    %br