- page_title "New Contact"

%h3
  = @person
  = "::" unless @person.to_s.blank?
  = @event.to_s
- if @requires_consent
  %p
    %span.warning
      Consent required

.page_section
  = form_for([@person, @contact], :html => {:autocomplete => "off"}) do |f|
    = hidden_field_tag :event_id, @event.id

    = render "shared/custom_error_messages", :object => f.object

    = render "contacts/form_fields", :f => f

    %p
      = f.submit "Start Contact", :disable_with => 'Submitting...'
