- title "Provider Recruitment Contact"

.page_section
  %h3
    Contact with
    = @provider

  = form_for(@contact, :url => provider_recruitment_contacts_path,
                       :html => {:autocomplete => "off", :method => 'post'}) do |f|
    = hidden_field_tag :event_id, @event.id
    = hidden_field_tag :provider_id, @provider.id

    = render "shared/custom_error_messages", :object => f.object

    .column-container
      = f.hidden_field :psu_code
      = f.hidden_field :who_contacted_code

      %p
        %span{ :class => "date_label" }
          = f.label :contact_date_date, "Contact Date"
        = f.text_field :contact_date_date, :class => "datepicker"

      %p
        %span{ :class => "date_label" }
          = f.label :contact_start_time, "Contact Start Time"
        = f.text_field :contact_start_time, :class => "required timepicker"

      %p
        %span{ :class => "date_label" }
          = f.label :contact_end_time, "Contact End Time"
        = f.text_field :contact_end_time, :class => "required timepicker"

      .person_contacted
        Who did you contact?
        %div{ :id => "staff_line_items" }
          - if @provider.staff.blank?
            .instructional_note
              Click on 'Add Staff Member' to create a Person contacted for this Provider
          - else
            - @provider.staff.each do |member|
              = render '/people/provider_staff_member_radio_button', :member => member
        -# placeholder for new staff members
        #new_staff

        %span{ :class => "green_button" }
          = link_to 'Add Staff Member', new_staff_provider_path(@provider),
              {:title => "Add New Staff Member for #{@provider.to_s}", :class => "edit_staff_modal_form_link"}

      = render "shared/ncs_code_select", { :f => f,
                                           :label_text => 'How did you contact them?',
                                           :code => :contact_type_code,
                                           :other => :contact_type_other,
                                           :html_attrs => {:class => 'required'} }

      = render "shared/disposition_code", { :f => f,
                                            :code => :contact_disposition,
                                            :label_text => 'What happened?' }

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'

:javascript
  $(document).ready(function() {
    wire_up_select_other("#contact_contact_type_code","#contact_contact_type_other");

    var pbsListUI = new NCSCore.UI.PbsList({ successPath: 'provider_staff_member_radio_button' });
  });

