- page_title "Provider Recruitment Contact"

.page_section
  %h3
    Contact with
    = @provider

  = form_for(@contact, :url => provider_recruitment_contacts_path,
                       :html => {:autocomplete => "off", :method => 'post'}) do |f|
    = hidden_field_tag :event_id, @event.id
    = hidden_field_tag :provider_id, @provider.id

    = render "shared/custom_error_messages", :object => f.object

    .column-container
      = f.hidden_field :psu_code
      = f.hidden_field :who_contacted_code

      %p
        %span{ :class => "date_label" }
          = f.label :contact_date_date, "Contact Date"
        = f.text_field :contact_date_date, :class => "datepicker"

      %p
        %span{ :class => "date_label" }
          = f.label :contact_start_time, "Contact Start Time"
        = f.text_field :contact_start_time, :class => "required timepicker"

      %p
        %span{ :class => "date_label" }
          = f.label :contact_end_time, "Contact End Time"
        = f.text_field :contact_end_time, :class => "required timepicker"

      %p
        - if @staff_list.blank?
          Could not load staff list. Using logged in staff member as person who made contact.
        - else
          %span{ :class => "date_label" }
            = label_tag :staff_id, "Who Made Contact?"
          %br
          - selected = @contact_link.try(:staff_id) || @current_staff_id
          = select_tag :staff_id, options_for_select(@staff_list, :selected => selected), :class => "required"

      .person_contacted
        Who did you contact?
        %div{ :id => "staff_line_items" }
          - if @provider.staff.blank?
            .instructional_note
              Click on 'Add Staff Member' to create a Person contacted for this Provider
          - else
            - @provider.staff.each do |member|
              = render '/people/provider_staff_member_radio_button', :member => member
        -# placeholder for new staff members
        #new_staff

        %span{ :class => "green_button" }
          = link_to 'Add Staff Member', new_staff_provider_path(@provider),
              {:title => "Add New Staff Member for #{@provider.to_s}", :class => "edit_staff_modal_form_link"}

      = render "shared/ncs_code_select", { :f => f,
                                           :label_text => 'How did you contact them?',
                                           :code => :contact_type_code,
                                           :other => :contact_type_other,
                                           :html_attrs => {:class => 'required'} }
      = render "shared/disposition_code", { :f => f,
                                            :code => :contact_disposition,
                                            :label_text => 'What happened?' }

      %a{ :class => "toggle_link", :id => "details_show" }
        More ...

      #details.hide
        %a{ :class => "toggle_link", :id => "details_hide" }
          Less ...

        = render "shared/ncs_code_select", { :f => f, :code => :who_contacted_code, :label_text => "Person Contacted", :other => :who_contacted_other, :help_text => "contacts/contact_who_contacted_tooltip" }

        = render "shared/ncs_code_select", { :f => f, :code => :contact_location_code, :label_text => "Location", :other => :contact_location_other }
        = render "shared/ncs_code_select", { :f => f, :code => :contact_private_code, :label_text => "Were there Privacy Issues?", :help_text => "contacts/contact_private_tooltip" }

        %p
          = f.label :contact_private_detail, "Privacy Issues Detail"
          %span{ :class => "help_icon" }
          = render "contacts/contact_private_detail_tooltip"
        %p
          = f.text_field :contact_private_detail

        %p
          = f.label :contact_distance, "Distance (format xx.x)"
          %br
          = f.text_field :contact_distance

        = render "shared/ncs_code_select", { :f => f, :code => :contact_language_code, :label_text => "Language", :other => :contact_language_other }
        = render "shared/ncs_code_select", { :f => f, :code => :contact_interpret_code, :label_text => "Interpret", :other => :contact_interpret_other, :help_text => "contacts/contact_interpret_tooltip" }

      %p
        = f.label :contact_comment, "Comments"
        %br
        = f.text_area :contact_comment
    %p
      = f.submit "Submit", :disable_with => 'Submitting...'

:javascript
  $(document).ready(function() {
    wire_up_select_other("#contact_contact_type_code","#contact_contact_type_other");
    wire_up_select_other("#contact_contact_language_code","#contact_contact_language_other");
    wire_up_select_other("#contact_contact_interpret_code","#contact_contact_interpret_other");
    wire_up_select_other("#contact_contact_location_code","#contact_contact_location_other");
    wire_up_select_other("#contact_who_contacted_code","#contact_who_contacted_other");

    var pbsListUI = new NCSCore.UI.PbsList({ successPath: 'provider_staff_member_radio_button' });
  });

