
%fieldset{ :class => 'participant_consent_withdrawl hidden' }
  %legend
    Withdrawl
  = render "shared/ncs_code_select", { :f => f, :code => :consent_withdraw_code, :label_text => "Withdrawn Consent" }

  = render "shared/ncs_code_select", { :f => f, :code => :consent_withdraw_type_code, :label_text => "Withdrawn Consent Type" }

  = render "shared/ncs_code_select", { :f => f, :code => :consent_withdraw_reason_code, :label_text => "Withdrawn Consent Reason" }

  %p
    = f.label :consent_withdraw_date, "Consent Withdrawn Date"
    %br
    = f.text_field :consent_withdraw_date, :class => "date"

  = render "shared/ncs_code_select", { :f => f, :code => :who_wthdrw_consent_code, :label_text => "Who Withdrew Consent" }

%fieldset{ :class => 'participant_consent_meta' }
  %legend
    About the Consent
  %p
    = f.label :consent_date, "Consent Date"
    %br
    = f.text_field :consent_date, :class => "date"

  %p
    = f.label :consent_version, "Consent Version"
    %br
    = f.text_field :consent_version

  %p
    = f.label :consent_expiration, "Consent Expiration"
    %br
    = f.text_field :consent_expiration, :class => "date"

  = render "shared/ncs_code_select", { :f => f, :code => :who_consented_code, :label_text => "Who Consented" }

  = render "shared/ncs_code_select", { :f => f, :code => :consent_language_code, :label_text => "Language", :other => :consent_language_other }

  = render "shared/ncs_code_select", { :f => f, :code => :consent_translate_code, :label_text => "Consent Translated" }

  = render "shared/ncs_code_select", { :f => f, :code => :reconsideration_script_use_code, :label_text => "Reconsideration Script Use" }

  %p
    = f.label :consent_comments, "Comment"
    %br
    = f.text_area :consent_comments

%p
  = f.submit "Submit", :disable_with => 'Submitting...'
