- page_title "Edit Participant Consent"

- if @participant.child_participant?
  %h3
    = "#{@participant_consent.person_who_consented} gave consent for #{@participant.person}"
- else
  %h3
    = @participant.person

- if @participant_consent.phase_one?
  = render 'phase_one_form'
- else
  = render 'phase_two_form'
