- page_title "New Parental Permission for Child Participant"

%h3
  = @child_guardian.person

.page_section
  = form_for(@participant_consent,
    :url => create_child_participant_participant_consents_path(@child_guardian),
    :html => {:autocomplete => "off"}) do |f|

    %fieldset{ :class => 'participant_consent' }
      %legend
        = f.object.consent_form_type.to_s

      = render "shared/custom_error_messages", :object => f.object

      = f.hidden_field :psu_code
      = f.hidden_field :contact_id
      = f.hidden_field :consent_form_type_code
      = hidden_field_tag :contact_link_id, @contact_link.id if @contact_link

      - f.object.consent_type_code = -4 # ensure phase two consent
      = f.hidden_field :consent_type_code
      %p
        = label_tag "person[first_name]", "Child's First Name"
        %br
        = text_field_tag "person[first_name]", nil, :class => "required"

      %p
        = label_tag "person[last_name]", "Child's Last Name"
        %br
        = text_field_tag "person[last_name]", nil, :class => "required"

      = render "shared/ncs_code_select", { :f => f, :code => :consent_given_code,     :label_text => "Consent Given" }

    = render "common_form_fields", :f => f

