<p>Study:  NCS Phase II</p>
<p>Shipment ID:  #{@shipper_id}</p>
<br>
<p>From: #{@psu_code}</p>
<blockquote>Additional Site Name/Number: #{@specimen_processing_shipping_center_id}#{@sample_receipt_shipping_center_id}
<p>Name - #{@contact_name}</p>
<p>Address - not coded </p>
<p>Phone number - #{@contact_phone} </p>
</blockquote>
<p>Carrier: #{@carrier}</p>
<p>Tracking number:  #{@shipment_tracking_number}</p>
<p>Sent Date: #{@shipment_date_and_time}</p>
<p>Scheduled Delivery: #{@scheduled_delivery} </p>
<br>
<p>Number of storage containers in shipper: #{@total_number_of_containers}</p>
<p>Total number of samples: #{@total_number_of_samples}</p>
<p>Shipping Coolant:   #{@shipping_temperature_selected}</p>
