.page_section
  .psu_code
    %b
      = "PSU:"
    = NcsCode.for_list_name_and_local_code("PSU_CL1", @psu_code)
  .srsc_id
    %b
      = "Specimen Processing Shipping Center ID:"
    = @specimen_processing_shipping_center.specimen_processing_shipping_center_id
  .nested_attributes
    %h3
      Address
    %p
      %b
        = "Address One"
      %br
      = @specimen_processing_shipping_center.address.address_one

    %p
      %b    
        = "Address Two"
      %br
      = @specimen_processing_shipping_center.address.address_two
    %p
      %b
        = "City"
      %br
      = @specimen_processing_shipping_center.address.city

    = NcsCode.for_list_name_and_local_code("State", @specimen_processing_shipping_center.address.state_code)

    %p
      %b
        = "Zipcode"
      %br
      = @specimen_processing_shipping_center.address.zip

    %p
      %b
        = "Zip+4"
      %br
      = @specimen_processing_shipping_center.address.zip4
      
  .links
    = link_to "Back", specimen_processing_shipping_centers_path
