%table.records
  %tr
    %th
      RECEIPT
    %th
      STORE
    %th
      SHIP 
    %th
      CONFIRM
  %tr.operations
    %td
      %div{:id => "receiving"}
        %ul
          - if not @specimens.blank?
            - @specimens.each do |sp|
              %li
                %a{ :href => edit_specimen_receipt_path(:id => sp.id, :in_edit_mode => true), :class => "edit_specimen_sample_receive", :id => sp.specimen_id}
                  = sp.specimen.specimen_id  
          - if not @samples.blank?
            - @samples.each do |s|
              %li
                %a{ :href => edit_sample_receipt_store_path(:id => s.sample_id, :in_edit_mode => true), :class => "edit_specimen_sample_receive", :id => s.sample_id }
                  = s.sample.sample_id
    %td
      %div{:id => "storing"}
        %ul
          - if not @specimen_storages.blank?
            - @specimen_storages.each do |sr|
              %li
                %a{ :href => edit_specimen_storage_path(:id => sr, :in_edit_mode => true), :class => "edit_specimen_sample_store", :id => sr}
                  = "Storage Container ID:"
                  = sr.specimen_storage_container.storage_container_id
                  - sr.specimen_storage_container.specimen_receipts.each do |val|
                    %p{:class => "paragraph_shift"}
                      = val.specimen.specimen_id
    %td
      %div{:id => "shipping"}
        %ul
          %div{:id => "ship_samples"}
            - if not @sample_shippings.blank?
              - @sample_shippings.each do |ss, samples|
                %a{ :href => edit_sample_shipping_path(:id => ss, :in_edit_mode => true), :class => "edit_specimen_sample_store", :id => ss}
                  = "Samples:"
                  = ss.shipment_tracking_number
                  - samples.each do |val|
                    %p{:class => "paragraph_shift"}
                      = val.sample_id
          %div{:id => "ship_specimens"}
            - if not @specimen_shippings.blank?
              - @specimen_shippings.each do |ss|
                %a{ :href => edit_specimen_shipping_path(:id => ss.id, :in_edit_mode => true), :class => "edit_specimen_sample_store"}
                  = "Specimen Tracking Number: "
                  = ss.shipment_tracking_number
                  - ss.specimen_storage_containers.each do |ssc|
                    %p{:class => "paragraph_shift"}
                      = "Storage container ID:"
                      = ssc.storage_container_id
                      - ssc.specimen_receipts.each do |sr|
                        %p{:class => "double_paragraph_shift"}
                          = sr.specimen.specimen_id

    %td
      %div{:id => "confirm"}
        - if not @sample_receipt_confirmation.blank?
          %div{:id => 'shipped_not_confirmed_table', :class => 'shipped_not_confirmed_table'}
            %a{ :href => edit_sample_receipt_confirmation_path(:id => @sample_receipt_confirmation.id, :in_edit_mode => true), :class => "edit_specimen_sample_store", :id => @sample_receipt_confirmation.id}
              = @sample_receipt_confirmation.sample.sample_id
        - if not @specimen_receipt_confirmation.blank?
          %div{:id => 'shipped_not_confirmed_table', :class => 'shipped_not_confirmed_table'}
            %a{ :href => edit_specimen_receipt_confirmation_path(:id => @specimen_receipt_confirmation.id, :in_edit_mode => true), :class => "edit_specimen_sample_store", :id => @specimen_receipt_confirmation.id}
              = @specimen_receipt_confirmation.specimen.specimen_id
