.page_section
  = form_for(sample_receipt_confirmation) do |f| 
    = render "shared/custom_error_messages", :object => f.object
    = "Followed is required for selected sample " 
    = sample_receipt_confirmation.sample.sample_id
    
    %br
    %b
      = "Staff:"
    = display_staff_info
    %br
        
    .psu_code
      %b
        = "PSU:"
      = NcsCode.for_list_name_and_local_code("PSU_CL1", @psu_code)

    = f.label :sample_receipt_shipping_center_id, "Sample Receipt Shipping Center ID:"
    = sample_receipt_confirmation.sample_receipt_shipping_center.sample_receipt_shipping_center_id
    = f.hidden_field :sample_receipt_shipping_center_id
    
    %br
    = f.label :shipper_id, "Shipper ID:"
    = sample_receipt_confirmation.shipper_id
    = f.hidden_field :shipper_id
    
    %br
    = f.label :sample_shipping_id, "Shipment Tracking Number:"
    = f.object.sample_shipping.shipment_tracking_number
    = f.hidden_field :sample_shipping_id
    
    %br
    = f.label :shipment_receipt_datetime, "Shipment Receipt Date and Time: "
    = f.text_field :shipment_receipt_datetime, :class => "datetime important_field", :id => "datetime_"+sample_receipt_confirmation.sample.sample_id
    %span{ :class => "required" } *
    
    %br  
    = render "shared/ncs_code_select", { :f => f, :code => :shipment_receipt_confirmed_code, :model_class => f.object.class, :label_text => "Shipment Receipt Confirmed Code:" }
    %br
    = render "shared/ncs_code_select", { :f => f, :code => :shipment_condition_code, :label_text => "Shipment Condition Code:" }  
    %br
    = f.label :shipment_damaged_reason, "Shipment Damaged Reason:"
    = f.text_field :shipment_damaged_reason
    
    %br
    = f.label :sample_receipt_temp, "Sample Receipt Temp (in Celsius):", :class => "important_field"
    = f.text_field :sample_receipt_temp
    %span{ :class => "required" } *
    %br
    = render "shared/ncs_code_select", { :f => f, :code => :sample_condition_code, :label_text => "Sample Condition Code:" }  

    %br
    = f.label :shipment_received_by,"Shipment Received By:", :class => "important_field"
    = f.text_field :shipment_received_by
    %span{ :class => "required" } *
    
    = f.hidden_field :sample_id
    %br
    = f.submit "Submit", :disable_with => 'Submitting...', :class => 'submit_confirmation'
