%div{:id =>"tabs", :class => "sample_receipt_tabs"}
  %ul
    - @sample_receipt_confirmations_new.each do |sample_receipt_confirmation_new|
      %li
        %a{:href => "#tabs_#{sample_receipt_confirmation_new.sample_id}"}
          = sample_receipt_confirmation_new.sample.sample_id
    - @sample_receipt_confirmations_edit.each do |sample_receipt_confirmation_edit|
      %li
        %a{:href => "#tabs_#{sample_receipt_confirmation_edit.sample_id}"}
          = sample_receipt_confirmation_edit.sample.sample_id
  - @sample_receipt_confirmations_new.each do |sample_receipt_confirmation_new|
    %div{:id => "tabs_#{sample_receipt_confirmation_new.sample_id}"}
      = render :partial => "sample_receipt_confirmations/form", :locals => { :sample_receipt_confirmation => sample_receipt_confirmation_new }
  - @sample_receipt_confirmations_edit.each do |sample_receipt_confirmation_edit|
    %div{:id => "tabs_#{sample_receipt_confirmation_edit.sample_id}"}
      = render :partial => "sample_receipt_confirmations/form", :locals => { :sample_receipt_confirmation => sample_receipt_confirmation_edit }
-#= link_to 'Back to shipping confirmations', {:controller => "sample_shipping_confirmations", :action => "index"}
-#= link_to 'Finish', {:controller => "sample_shipping_confirmations", :action => "index"}
%input{:type=>"button", :class => "exit_and_refresh", :value =>"Exit"}  