- lbl = "Edit Telephone"
- lbl += " for #{@person}" if @person
- page_title lbl

.page_section
  = form_for([@person, @telephone], :html => {:autocomplete => "off"}) do |f|
    = render "shared/custom_error_messages", :object => f.object

    = render "/telephones/form_fields", :f => f

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'
