- page_title "Sample Receipt Shipping Centers"

.page_section
  - if @sample_receipt_shipping_centers.empty?
    #no_records
      No sample receipt shipping centers were found.
    .links
      = link_to 'New Sample Receipt Shipping Center', new_sample_receipt_shipping_center_path, :class => "add_link icon_link"

  - else
    %table.records
      %tr
        %th
          PSU
        %th
          Sample Receipt Shipping Center ID
        %th
          Address
        %th{ :colspan => "2" }

      - @sample_receipt_shipping_centers.each do |srsc|
        %tr{ :class => cycle('even_record', 'odd_record') }
          %td
            = srsc.psu
          %td
            = srsc.sample_receipt_shipping_center_id
          %td
            = srsc.address
          %td
            = link_to 'Show', sample_receipt_shipping_center_path(srsc), :class => "edit_link icon_link"
