- page_title "Edit Instrument"

.page_section
  = form_for(@instrument, :html => {:autocomplete => "off"}) do |f|
    = render "shared/full_error_messages", :object => f.object

    = f.hidden_field :person_id

    .contact_link_section
      %h3
        Instrument
      - @instrument.response_sets.each do |rs|
        .survey
          = determine_links_for_editing(@instrument, rs)

      = fields_for @instrument do |instrument|
        = render "form_fields", { :f => instrument }

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'