= form_for @specimen_receipt do |f|
  = f.label :specimen_id, "Specimen ID:"
  = f.object.specimen_id
  = f.hidden_field :specimen_id
  %br

  = f.label :storage_container_id, "Storage Container ID:"
  = f.text_field :storage_container_id  
  %br

  = f.label :receipt_datetime, "Receipt Date and Time: "
  = f.text_field :receipt_datetime, :class => "datetime"
  %br
  
  = render "shared/ncs_code_select", { :f => f, :code => :receipt_comment_code, :label_text => "Receipt Comment" }
  %br

  = f.label :receipt_comment_other, "Receipt comment other:"
  = f.text_field :receipt_comment_other
  %br

  = f.label :cooler_temp, "Cooler Temperature (in Celsius):"
  = f.text_field :cooler_temp
  %br
  = render "shared/ncs_code_select", { :f => f, :code => :monitor_status_code, :label_text => "Monitor Status" }
  %br
  = render "shared/ncs_code_select", { :f => f, :code => :upper_trigger_code, :label_text => "Upper Trigger" }
  %br
  = render "shared/ncs_code_select", { :f => f, :code => :upper_trigger_level_code, :label_text => "Upper Trigger Level" }
  %br
  = render "shared/ncs_code_select", { :f => f, :code => :lower_trigger_cold_code, :label_text => "Lower Trigger Cold" }
  %br
  = render "shared/ncs_code_select", { :f => f, :code => :lower_trigger_ambient_code, :label_text => "Lower Trigger Ambient" }
  %br
  
  = f.label :centrifuge_staff_id, "Centrifuge Staff ID:"
  = f.text_field :centrifuge_staff_id
  %br

  = f.label :centrifuge_starttime, "Centrifuge Start Time:"
  = f.text_field :centrifuge_starttime, :class => "time"
  %br

  = f.label :centrifuge_endtime, "Centrifuge End Time:"
  = f.text_field :centrifuge_endtime, :class => "time"
  %br
  
  = f.label :centrifuge_temp, "Centrifuge Temperature (in Celsius):"
  = f.text_field :centrifuge_temp
  %br  
  
  = render "shared/ncs_code_select", { :f => f, :code => :centrifuge_comment_code, :label_text => "Centrifuge Comment" }
  %br
  
  = f.label :centrifuge_comment_other, "Centrifuge Comment Other:"
  = f.text_field :centrifuge_comment_other  
  %br

  = f.label :specimen_equipment_id, "Equipment ID:"
  = f.text_field :specimen_equipment_id
  %br

  = f.submit "Receive", :disable_with => 'Submitting...', :class => 'sample_received'
