- title "Case Status Report"

.page_section
  %p
    Enter in the time period for the report and click 'Generate Report' to download the case status report file.
  %p
    = form_tag('/reports/case_status') do |f|
      %p
        %b
          From:
        %br
        = text_field_tag 'start_date', @start_date, :class => 'datepicker'
      %p
        %b
          To:
        %br
        = text_field_tag 'end_date', @end_date, :class => 'datepicker'
      %p
        = check_box_tag :pending_events
        %b
          Show All Pending Events
        .instructional_note
          (i.e. Ignore Dates)
      %p
        = submit_tag 'Generate Report'