- page_title "Consented Participants"

.page_section
  - if @consents.empty?
    #no_records
      No participants were found.
  - else
    %h4
      Consented Participants ::
      = ParticipantConsent.consent_types.select { |c| c[0] == params[:consent_type_code] }.first[1]
  .records_header
    .page_entries_info
      = raw page_entries_info @consents
    %table.records
      %tr
        %th
          Edit
        %th
          Participant
        %th
          Consent Given
        %th
          Consent Date
        %th
          Who Consented
        %th
          Consent Withdrawn Date
        %th
          Who Withdrew
        %th{ :colspan => "2" }
      - @consents.each do |consent|
        %tr{ :class => cycle('even_record', 'odd_record') }
          %td
            = link_to "Edit", edit_participant_consent_path(consent, :consent_type => consent.consent_type, :consent_type_code => consent.consent_type_code), :class => "edit_link icon_link"
          %td
            = display_participant consent.participant
          %td
            = consent.consent_given
          %td
            = consent.consent_date
          %td
            = consent.who_consented
          %td
            = consent.consent_withdraw_date
          %td
            = consent.who_wthdrw_consent
          %td
            = link_to 'View', participant_path(consent.participant), :class => "show_link icon_link"
          %td
            = link_to 'Edit', edit_participant_path(consent.participant), :class => "edit_link icon_link"
  = will_paginate @consents