!!!

%html{ :xmlns =>"http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }
    %title
      = show_title? ? "NCS Navigator Cases :: " + yield(:page_title) : "NCS Navigator Cases"
    %link{ :rel=>"icon", :type=>"image/gif", :href=>"/assets/favicon.gif"}
    = stylesheet_link_tag('application')
    = javascript_include_tag("application")
    = stylesheet_link_tag('print', :media => :print)
    = csrf_meta_tag
    = yield :head

  %body.bp.ncs
    #container
      #header
        = render 'partials/user_info', :current_user => current_user
        #app_name
          = link_to application_title_text, root_path
        - if show_title?
          %h1#page_title
            = yield(:page_title)
      #main
        - flash.each do |message_type, message|
          %div{ :class => "flash_message", :id => "flash_#{message_type}" }
            = message
        #content
          = yield
      #footer
        = render 'partials/footer'
    .hidden#current_request= request.fullpath

