!!!

%html{ :xmlns =>"http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }
    %title
      = show_title? ? "NCS Navigator Core :: " + yield(:title) : "NCS Navigator Core"
    %link{ :rel=>"icon", :type=>"image/gif", :href=>"/images/favicon.gif"}
    = stylesheet_link_tag('jquery-ui.custom', "jquery-ui-timepicker-addon")
    = stylesheet_link_tag 'surveyor/reset', 'surveyor/dateinput', 'surveyor', 'custom'
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
      = stylesheet_link_tag 'compiled/ie-custom.css', :media => 'screen, projection'
    = javascript_include_tag("jquery.min", "jquery_ujs", "application", "jquery-ui.min")
    = javascript_include_tag("jquery-ui-timepicker-addon", "surveyor/jquery.surveyor.new")
    = csrf_meta_tag
    = yield :head

  %body.bp.ncs
    #container
      #header
        #app_name
          = link_to "NCS Navigator", root_path
        #title
          - if show_title?
            = yield(:title)
      #main
        - flash.each do |message_type, message|
          %div{ :class => "flash_message", :id => "flash_#{message_type}" }
            = message
        #content    
          = yield
      #footer
        = render 'partials/footer'
